@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-label/variant/default" as antimatter-label-default;

@mixin variant($DonutChart) {
    @at-root {
        #{$DonutChart} {
            position: relative;
            display: inline-block;
            width: 120px;
            height: 120px;

            &__Canvas {
                display: block;
                width: 100%;
                height: 100%;
                margin: 0 auto;
                stroke-width: 30px;
                fill: antimatter-color-scheme.$primary;
                flood-color: antimatter-color-scheme.$primary--a10;
                transform: rotate(-90deg);
            }

            &__Legend {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 50%;
                height: 50%;
                margin: auto;
                font-weight: antimatter-typography.$font-weight--bold;
                color: antimatter-color-scheme.$white;
            }

            $DonutChart-Value: ".DonutChart-Value";
            @include antimatter-label-default.variant($DonutChart-Value) {
                align-self: flex-end;
                font-weight: antimatter-typography.$font-weight--bold;
                font-size: 22px;
            }

            $DonutChart-Description: ".DonutChart-Description";
            @include antimatter-label-default.variant($DonutChart-Description) {
                align-items: flex-start;
                width: 100%;
                padding-bottom: 5px;
                margin-top: -2px;
                font-size: 10px;
            }

            $DonutChart-PercentSymbol: ".DonutChart-PercentSymbol";
            @include antimatter-label-default.variant($DonutChart-PercentSymbol) {
                align-self: flex-end;
                padding-bottom: 3px;
                font-size: 12px;
            }
        }
    }

    #{$DonutChart} {
        @content;
    }
}
