@use "~@miniskylab/antimatter-layer";
@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-responsive/screen-size";
@use "~@miniskylab/antimatter-icon/variant/default" as antimatter-icon-default;
@use "~@miniskylab/antimatter-label/variant/default" as antimatter-label-default;

@mixin variant($Timeline) {
    @at-root {
        #{$Timeline} {
            position: relative;
            width: fit-content;
            min-width: 300px;
            max-width: screen-size.$XL;
            margin: auto;
            z-index: antimatter-layer.$default;

            $Timeline-Origin: ".Timeline-Origin";
            @include antimatter-icon-default.variant($Timeline-Origin) {
                width: 30px;
                height: 30px;
                margin: 80px 0 0 1px;
                color: antimatter-color-scheme.$gray;
                font-size: 30px;
                background-color: antimatter-color-scheme.$transparent;

                @include screen-size.L {
                    width: 100%;
                    height: 60px;
                    margin: 200px 0 0;
                    font-size: 60px;
                }
            }

            &__VerticalLine {
                position: absolute;
                top: -1px;
                right: 0;
                bottom: 0;
                left: 15px;
                width: 3px;
                margin: 50px 0 30px;
                background-color: antimatter-color-scheme.$gray;
                z-index: antimatter-layer.$lower;

                @include screen-size.L {
                    left: calc(50% - 3px);
                    width: 6px;
                    margin: 50px 0 60px;
                }
            }

            &__EventStream {
                position: relative;
                width: fit-content;
                margin: auto;
            }

            .Timeline-Event {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                padding: 26px 25px 25px;
                border: 1px solid antimatter-color-scheme.$gray;
                margin: 20px 0 0 45px;
                box-sizing: border-box;
                vertical-align: top;
                font-size: 16px;
                color: antimatter-color-scheme.$neutral;
                background-color: antimatter-color-scheme.$ambient;

                &:nth-child(1) {
                    margin-top: 0;
                }

                @include screen-size.L {
                    display: inline-flex;
                    max-width: calc(50% - 65px);

                    &:nth-child(1) {
                        margin: 0;
                    }

                    &:nth-child(2) {
                        margin: 160px 0 -100px 130px;
                    }

                    &:nth-child(2n+3) {
                        margin: 60px 0 0 0;
                    }

                    &:nth-child(2n+4) {
                        margin: 220px 0 -100px 130px;
                    }
                }

                $Timeline-Event-Icon: ".Timeline-Event-Icon";
                @include antimatter-icon-default.variant($Timeline-Event-Icon) {
                    position: absolute;
                    top: 45px;
                    left: -45px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 3px solid antimatter-color-scheme.$gray;
                    box-sizing: border-box;
                    font-size: 14px;
                    background-color: antimatter-color-scheme.$ambient;

                    @include screen-size.L {
                        width: 60px;
                        height: 60px;
                        border-width: 5px;
                        font-size: 28px;

                        @at-root .Timeline-Event:nth-child(2n+1) #{$Timeline-Event-Icon} {
                            top: 30px;
                            left: unset;
                            right: -96px;
                        }

                        @at-root .Timeline-Event:nth-child(2n+2) #{$Timeline-Event-Icon} {
                            top: 30px;
                            left: -96px;
                        }
                    }
                }

                &__TriangleArrow {
                    position: absolute;
                    top: 51px;
                    left: -10px;
                    width: 0;
                    height: 0;
                    border-right: 9px solid antimatter-color-scheme.$gray;
                    border-top: 9px solid antimatter-color-scheme.$transparent;
                    border-bottom: 9px solid antimatter-color-scheme.$transparent;

                    @include screen-size.L {
                        top: 43px;
                        border-top-width: 18px;
                        border-bottom-width: 18px;

                        @at-root .Timeline-Event:nth-child(2n+1) .Timeline-Event__TriangleArrow {
                            left: unset;
                            right: -19px;
                            border-right: none;
                            border-left: 18px solid antimatter-color-scheme.$gray;
                        }

                        @at-root .Timeline-Event:nth-child(2n+2) .Timeline-Event__TriangleArrow {
                            left: -19px;
                            border-left: none;
                            border-right: 18px solid antimatter-color-scheme.$gray;
                        }
                    }
                }

                $Timeline-Event-Name: ".Timeline-Event-Name";
                @include antimatter-label-default.variant($Timeline-Event-Name) {
                    justify-content: flex-start;
                    width: 100%;
                    line-height: 28px;
                    color: antimatter-color-scheme.$white;
                    font-size: 20px;
                    font-weight: antimatter-typography.$font-weight--bold;
                }

                &__Hr {
                    width: 100%;
                    margin-top: 6px;
                    border-top: 1px solid antimatter-color-scheme.$gray;
                }

                &__Image {
                    width: 100%;
                    height: 100%;
                    margin: 15px 0 5px;
                    object-fit: contain;
                }

                $Timeline-Event-ArrowRightIcon: ".Timeline-Event-ArrowRightIcon";
                @include antimatter-icon-default.variant($Timeline-Event-ArrowRightIcon) {
                    display: inline-flex;
                    width: 20px;
                    height: 20px;
                    margin: 0 10px;
                }

                &__Row {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    line-height: 25px;
                    margin-top: 10px;
                    box-sizing: border-box;
                    font-size: 14px;
                }

                $Timeline-Event-BulletinIcon: ".Timeline-Event-BulletinIcon";
                @include antimatter-icon-default.variant($Timeline-Event-BulletinIcon) {
                    display: inline-flex;
                    min-width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    font-size: 18px;

                    &--TopAligned {
                        align-self: baseline;
                        margin-top: 5px;
                    }
                }

                &__StartDate {
                    display: flex;
                }

                &__EndDate {
                    display: flex;
                }

                $Timeline-Event-Duration: ".Timeline-Event-Duration";
                @include antimatter-label-default.variant($Timeline-Event-Duration) {
                    justify-content: flex-start;
                    flex-grow: 1;
                }

                $Timeline-Event-Location: ".Timeline-Event-Location";
                @include antimatter-label-default.variant($Timeline-Event-Location) {
                    justify-content: flex-start;
                    flex-grow: 1;
                }

                $Timeline-Event-Description: ".Timeline-Event-Description";
                @include antimatter-label-default.variant($Timeline-Event-Description) {
                    justify-content: flex-start;
                    flex-grow: 1;
                }
            }

            .Timeline-BootstrapEvent {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 30px 25px 25px;
                border: 1px solid antimatter-color-scheme.$gray;
                margin: -90px 0 0 45px;
                box-sizing: border-box;
                color: antimatter-color-scheme.$neutral;
                background-color: antimatter-color-scheme.$ambient;

                @include screen-size.L {
                    width: 100%;
                    max-width: unset;
                    height: 200px;
                    margin: 30px 0 0;
                }

                &__TriangleArrow {
                    position: absolute;
                    top: 65px;
                    left: -10px;
                    width: 0;
                    height: 0;
                    margin: auto;
                    border-top: 9px solid antimatter-color-scheme.$transparent;
                    border-bottom: 9px solid antimatter-color-scheme.$transparent;
                    border-right: 9px solid antimatter-color-scheme.$gray;

                    @include screen-size.L {
                        top: -19px;
                        left: 0;
                        right: 0;
                        bottom: unset;
                        border-top: unset;
                        border-left: 18px solid antimatter-color-scheme.$transparent;
                        border-right: 18px solid antimatter-color-scheme.$transparent;
                        border-bottom: 18px solid antimatter-color-scheme.$gray;
                    }
                }

                $Timeline-BootstrapEvent-Icon: ".Timeline-BootstrapEvent-Icon";
                @include antimatter-icon-default.variant($Timeline-BootstrapEvent-Icon) {
                    width: 35px;
                    height: 35px;
                    margin-bottom: 18px;
                    font-size: 35px;

                    @include screen-size.L {
                        width: 45px;
                        height: 45px;
                        margin-bottom: 23px;
                        font-size: 45px;
                    }
                }

                $Timeline-BootstrapEvent-Name: ".Timeline-BootstrapEvent-Name";
                @include antimatter-label-default.variant($Timeline-BootstrapEvent-Name) {
                    line-height: 28px;
                    font-size: 20px;
                    font-weight: antimatter-typography.$font-weight--bold;
                    text-align: center;

                    @include screen-size.L {
                        margin-bottom: 10px;
                        font-size: 30px;
                    }
                }

                $Timeline-BootstrapEvent-Description: ".Timeline-BootstrapEvent-Description";
                @include antimatter-label-default.variant($Timeline-BootstrapEvent-Description) {
                    line-height: 21px;
                    margin-top: 6px;
                    font-size: 14px;
                    text-align: center;

                    @include screen-size.L {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    #{$Timeline} {
        @content;
    }
}
