@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-responsive/screen-size";

%self-introduction-hero, .antimatter-self-introduction-hero-default {
    display: flex;
    flex-basis: screen-size.$XL;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;

    &__cover-photo {
        display: block;
        width: 100%;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__banner {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70px;
        background-color: antimatter-color-scheme.$background;
    }

    &__personal-info {
        display: none;

        @include screen-size.S {
            display: inline-block;
            width: 168px;
            height: 100%;
        }

        @include screen-size.M {
            width: 200px;
        }
    }

    &__personal-info-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 37px;
        font-size: antimatter-typography.$font-size--17px;
        font-weight: antimatter-typography.$font-weight--black;
        color: antimatter-color-scheme.$neutral;

        @include screen-size.M {
            font-size: antimatter-typography.$font-size--20px;
        }
    }

    &__personal-info-value {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 33px;
        border-bottom: 4px solid antimatter-color-scheme.$primary;
        box-sizing: border-box;
        font-size: antimatter-typography.$font-size--17px;
        font-weight: antimatter-typography.$font-weight--black;
        color: antimatter-color-scheme.$white;

        @include screen-size.M {
            font-size: antimatter-typography.$font-size--20px;
        }
    }

    &__avatar {
        position: relative;
        display: inline-block;
        width: 200px;
        height: 100%;

        @include screen-size.M {
            margin: 0 50px;
        }

        img {
            position: absolute;
            top: -100px;
            width: 200px;
            height: 200px;
            padding: 5px;
            border-radius: 50%;
            border: 10px solid antimatter-color-scheme.$white;
            box-sizing: border-box;
        }
    }

    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin-top: 45px;
        font-size: antimatter-typography.$font-size--40px;
        font-weight: antimatter-typography.$font-weight--black;
        color: antimatter-color-scheme.$white;

        @include screen-size.S {
            height: 60px;
            font-size: antimatter-typography.$font-size--50px;
        }
    }

    &__alternative-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        font-size: antimatter-typography.$font-size--28px;
        font-weight: antimatter-typography.$font-weight--black;
        color: antimatter-color-scheme.$white;

        @include screen-size.S {
            height: 50px;
            font-size: antimatter-typography.$font-size--38px;
        }
    }

    &__description {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        line-height: 30px;
        padding: 20px 15px;
        box-sizing: border-box;
        font-size: antimatter-typography.$font-size--20px;
        color: antimatter-color-scheme.$neutral;
        text-align: justify;
        text-align-last: center;

        @include screen-size.S {
            padding: 30px 20px;
        }

        @include screen-size.M {
            width: 742px;
        }
    }

    &__download-button {
        display: none;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        min-width: 150px;
        width: fit-content;
        height: 34px;
        padding: 6px 12px;
        border-radius: 0;
        border: 1px solid antimatter-color-scheme.$primary;
        margin: -5px 25% 30px;
        box-sizing: border-box;
        color: antimatter-color-scheme.$primary;
        font-weight: antimatter-typography.$font-weight--regular;
        vertical-align: top;
        user-select: none;
        cursor: pointer;
        text-decoration: none;

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 16px;
            height: 16px;
            font-size: antimatter-typography.$font-size--14px;
        }

        &__label {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
            font-size: antimatter-typography.$font-size--14px;
            font-weight: antimatter-typography.$font-weight--bold;
        }

        &--disabled {
            @extend %self-introduction-hero__download-button;
            opacity: 0.65;
            filter: saturate(0%);
            cursor: not-allowed;
        }

        @media (hover: hover) {

            &:not(&--disabled):hover {
                color: antimatter-color-scheme.$ambient;
                border-color: antimatter-color-scheme.$primary--w25;
                background-color: antimatter-color-scheme.$primary--w25;

                &:active {
                    outline-offset: 3px;
                    outline: 1px solid antimatter-color-scheme.$primary--w25;
                    color: antimatter-color-scheme.$ambient;
                    border-color: antimatter-color-scheme.$primary--w25;
                    background-color: antimatter-color-scheme.$primary--w25;
                }
            }
        }

        @include screen-size.S {
            display: inline-flex;
            color: antimatter-color-scheme.$ambient;
            border-color: antimatter-color-scheme.$primary;
            background-color: antimatter-color-scheme.$primary;
        }
    }

    &__mobile-section {
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;

        @include screen-size.S {
            display: none;
        }
    }

    &__mobile-personal-info {
        width: 100%;
        padding: 6px 20px 10px;
        border: 3px solid antimatter-color-scheme.$gray;
        box-sizing: border-box;
        color: antimatter-color-scheme.$white;
        background-color: antimatter-color-scheme.$gray--a10;

        &__title-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            font-size: antimatter-typography.$font-size--16px;
            font-weight: antimatter-typography.$font-weight--bold;
            color: antimatter-color-scheme.$neutral;
        }

        &__title-icon {
            display: inline-flex;
            justify-content: center;
            width: 25px;
            padding-right: 12px;
            font-size: antimatter-typography.$font-size--25px;
        }

        &__title-text {
            text-align: center;
        }

        &__gap {
            height: 0;
        }

        &__content {
            display: flex;
            justify-content: center;
            line-height: 24px;
            font-size: antimatter-typography.$font-size--20px;
            font-weight: antimatter-typography.$font-weight--bold;
        }

        &--primary {
            @extend %self-introduction-hero__mobile-personal-info;
            background-color: antimatter-color-scheme.$primary--a10;
            border: 3px solid antimatter-color-scheme.$primary;

            &__title-container {
                @extend %self-introduction-hero__mobile-personal-info__title-container;
            }

            &__title-icon {
                @extend %self-introduction-hero__mobile-personal-info__title-icon;
            }

            &__title-text {
                @extend %self-introduction-hero__mobile-personal-info__title-text;
            }

            &__gap {
                @extend %self-introduction-hero__mobile-personal-info__gap;
            }

            &__content {
                @extend %self-introduction-hero__mobile-personal-info__content;
            }
        }
    }
}
