@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-icon/variant/default" as antimatter-icon-default;

@mixin variant($Checkbox) {
    @at-root {
        #{$Checkbox} {

            &__Box {
                display: flex;
                justify-content: center;
                width: 20px;
                height: 20px;
                border: 3px solid antimatter-color-scheme.$neutral;
                box-sizing: border-box;
                cursor: pointer;

                @media (hover: hover) {

                    &:hover {
                        border-color: antimatter-color-scheme.$primary;

                        &:active {
                            background-color: antimatter-color-scheme.$primary;
                        }
                    }
                }

                &--Active {
                    border-color: antimatter-color-scheme.$primary;
                    background-color: antimatter-color-scheme.$primary;
                }
            }

            $Checkbox-CheckMark: ".Checkbox-CheckMark";
            @include antimatter-icon-default.variant($Checkbox-CheckMark) {
                font-size: 14px;
                color: antimatter-color-scheme.$ambient;
            }
        }
    }

    #{$Checkbox} {
        @content;
    }
}
