@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-label/variant/default" as antimatter-label-default;

@mixin variant($Panel) {
    @at-root {
        #{$Panel} {
            display: flex;
            flex-direction: column;
            background-color: antimatter-color-scheme.$background;

            $Panel-Title: ".Panel-Title";
            @include antimatter-label-default.variant($Panel-Title) {
                color: antimatter-color-scheme.$white;
                font-size: antimatter-typography.$font-size--20px;
                font-weight: antimatter-typography.$font-weight--bold;
                line-height: 30px;
                margin: 10px 15px -5px;
            }

            &__Content {
                margin: 15px;
            }
        }
    }

    #{$Panel} {
        @content;
    }
}
