@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-label/variant/default";

.label {
    height: 20px;
    margin-top: 5px;
    color: antimatter-color-scheme.$gray;
    font-size: antimatter-typography.$font-size--16px;
}
