@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-label/variant/default";

.label {
    height: 30px;
    margin-top: 25px;
    font-size: antimatter-typography.$font-size--25px;
    font-weight: antimatter-typography.$font-weight--bold;
}
