@use "~@miniskylab/antimatter-color-scheme";

.button {
    flex-direction: row-reverse;
    border-color: antimatter-color-scheme.$primary;
    color: antimatter-color-scheme.$primary;

    &:not(&--disabled):hover {
        background-color: antimatter-color-scheme.$primary--a10;

        &:active {
            background-color: antimatter-color-scheme.$primary;
        }
    }
}
