@use "~@miniskylab/antimatter-layer";
@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

%paginator, .antimatter-paginator-default {

    @at-root %pager {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: antimatter-color-scheme.$gray;
        background-color: antimatter-color-scheme.$transparent;
        font-size: antimatter-typography.$font-size--14px;
        border: 1px solid antimatter-color-scheme.$gray;
        box-sizing: border-box;
        height: 40px;
        min-width: 40px;
        margin-left: -1px;
        cursor: pointer;
        user-select: none;
    }

    &__pager {
        @extend %pager;

        &--selected {
            @extend %paginator__pager;
            color: antimatter-color-scheme.$white;
            background-color: antimatter-color-scheme.$primary--a10;
            border-color: antimatter-color-scheme.$primary;
            z-index: antimatter-layer.$higher;
            cursor: default;
        }

        &--disabled {
            @extend %paginator__pager;
            cursor: not-allowed;
            color: antimatter-color-scheme.$white--a10;
            border-color: antimatter-color-scheme.$white--a10;
        }

        @media (hover: hover) {

            &:not(&--disabled):not(&--selected):hover {
                color: antimatter-color-scheme.$white;
                border-color: antimatter-color-scheme.$primary;
                background-color: antimatter-color-scheme.$primary--a10;
                z-index: antimatter-layer.$higher;

                &:active {
                    background-color: antimatter-color-scheme.$primary;
                }
            }
        }
    }

    &__ellipsis {
        @extend %pager;
        font-weight: antimatter-typography.$font-weight--bold;
        border: none;
        cursor: default;
    }

    &__navigator {
        @extend %pager;
        padding: 0 15px;

        &--disabled {
            @extend %paginator__navigator;
            cursor: not-allowed;
            color: antimatter-color-scheme.$white--a10;
            border-color: antimatter-color-scheme.$white--a10;
        }

        @media (hover: hover) {

            &:not(&--disabled):hover {
                color: antimatter-color-scheme.$white;
                border-color: antimatter-color-scheme.$primary;
                background-color: antimatter-color-scheme.$primary--a10;
                z-index: antimatter-layer.$higher;

                &:active {
                    background-color: antimatter-color-scheme.$primary;
                }
            }
        }
    }
}
