@use "~@miniskylab/antimatter-layer";
@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-button/variant/outlined-rectangular" as antimatter-button-outlined-rectangular;

@mixin -pager {
    position: relative;
    min-width: 40px;
    height: 40px;
    padding: 0;
    margin-left: -1px;
    border: 1px solid antimatter-color-scheme.$neutral;
    color: antimatter-color-scheme.$neutral;
    background-color: antimatter-color-scheme.$transparent;
    font-size: antimatter-typography.$font-size--14px;
}

@mixin variant($Paginator) {
    @at-root {
        #{$Paginator} {
            $Paginator-Pager: ".Paginator-Pager";
            @include antimatter-button-outlined-rectangular.variant($Paginator-Pager) {
                @include -pager;

                @media (hover: hover) {

                    &:not(#{$Paginator-Pager}--Disabled):not(#{$Paginator-Pager}--Selected):hover {
                        border-color: antimatter-color-scheme.$primary;
                        z-index: antimatter-layer.$higher;
                    }
                }

                &--Selected {
                    color: antimatter-color-scheme.$white;
                    background-color: antimatter-color-scheme.$primary--a10;
                    border-color: antimatter-color-scheme.$primary;
                    z-index: antimatter-layer.$higher;
                    cursor: default;

                    &:not(#{$Paginator-Pager}--Disabled):hover:active {
                        color: antimatter-color-scheme.$white;
                        background-color: antimatter-color-scheme.$primary--a10;
                    }
                }
            }

            $Paginator-Ellipsis: ".Paginator-Ellipsis";
            @include antimatter-button-outlined-rectangular.variant($Paginator-Ellipsis) {
                @include -pager;
                font-weight: antimatter-typography.$font-weight--bold;
                border: none;
                cursor: default;

                @media (hover: hover) {

                    &:not(#{$Paginator-Ellipsis}--Disabled):hover {
                        color: antimatter-color-scheme.$neutral;
                        background-color: antimatter-color-scheme.$transparent;
                    }
                }
            }

            $Paginator-Navigator: ".Paginator-Navigator";
            @include antimatter-button-outlined-rectangular.variant($Paginator-Navigator) {
                @include -pager;
                padding: 0 5px;

                @media (hover: hover) {

                    &:not(#{$Paginator-Navigator}--Disabled):hover {
                        border-color: antimatter-color-scheme.$primary;
                        z-index: antimatter-layer.$higher;
                    }
                }
            }
        }
    }

    #{$Paginator} {
        @content;
    }
}
