@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

.controls {
    display: flex;
    justify-content: space-around;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 34px;
        font-size: antimatter-typography.$font-size--12px;
        font-weight: antimatter-typography.$font-weight--bold;
        box-sizing: border-box;
        color: antimatter-color-scheme.$neutral;
        border: 2px solid antimatter-color-scheme.$transparent;
        cursor: pointer;

        &:hover {
            color: antimatter-color-scheme.$gainsboro;
        }

        &:active {
            color: antimatter-color-scheme.$gray;
        }

        &--disabled {
            composes: controls__button;
            color: antimatter-color-scheme.$white--a10;
            cursor: not-allowed;

            &:hover,
            &:active {
                color: antimatter-color-scheme.$white--a10;
            }
        }
    }

    &__icon {
        display: inline-block;
    }

    &__text {
        display: inline-block;
        margin-top: 1px;
        margin-left: 5px;
    }
}
