.antimatter-html {
    overflow: inherit;
    text-overflow: inherit;
}

.antimatter-html hr {
    display: block;
    height: 0;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    border: 0;
    border-top: 1px solid rgb(128, 128, 128);
    unicode-bidi: isolate;
    overflow: hidden;
}

.antimatter-html ul {
    display: block;
    list-style: disc;
    padding-inline-start: 40px;
}

.antimatter-html ol {
    display: block;
    list-style: decimal;
    padding-inline-start: 40px;
}

.antimatter-html blockquote {
    border-left: 5px solid rgb(128, 128, 128);
    font-style: italic;
    padding: 10px 20px;
}

.antimatter-html b,
.antimatter-html strong,
.antimatter-html .text-style--bold {
    font-weight: normal;
    font-family: Roboto-Bold, sans-serif;
}

.antimatter-html i,
.antimatter-html em,
.antimatter-html .text-style--italic {
    font-style: normal;
    font-family: Roboto-Italic, sans-serif;
}

.antimatter-html .text-style--bold-italic {
    font-style: normal;
    font-weight: normal;
    font-family: Roboto-Bold-Italic, sans-serif;
}

.antimatter-html u { text-decoration: underline; }

.antimatter-html img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.antimatter-html .glyph {
    display: inline-block;
    padding: 2px 2px 0;
    vertical-align: middle;
}

.antimatter-html .text-color--blue { color: rgb(0, 160, 255); }
.antimatter-html .text-color--green { color: rgb(135, 172, 78); }
.antimatter-html .text-color--gold { color: rgb(255, 191, 71); }
.antimatter-html .text-color--tomato { color: rgb(255, 112, 71); }
.antimatter-html .text-color--white { color: rgb(255, 255, 255); }

.antimatter-html .badge {
    display: inline-block;
    line-height: normal;
    padding: 2px 8px;
    font-family: Roboto-Bold, sans-serif;
}

.antimatter-html .badge.badge--blue { background-color: rgb(0, 160, 255); color: rgb(30, 30, 30); }
.antimatter-html .badge.badge--green { background-color: rgb(135, 172, 78); color: rgb(30, 30, 30); }
.antimatter-html .badge.badge--gold { background-color: rgb(255, 191, 71); color: rgb(30, 30, 30); }
.antimatter-html .badge.badge--tomato { background-color: rgb(255, 112, 71); color: rgb(30, 30, 30); }
.antimatter-html .badge.badge--purple { background-color: rgb(137, 89, 168); color: rgb(255, 255, 255); }
