@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

.header {
    display: flex;

    &__navigator {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        font-size: antimatter-typography.$font-size--16px;
        box-sizing: border-box;
        border-radius: 50%;
        border: 3px solid antimatter-color-scheme.$transparent;
        cursor: pointer;

        &:first-child {
            padding-right: 2px;
        }

        &:last-child {
            padding-left: 2px;
        }

        &:hover {
            color: antimatter-color-scheme.$white;
            border-color: antimatter-color-scheme.$primary;
            background-color: antimatter-color-scheme.$primary--a10;
        }

        &:active {
            color: antimatter-color-scheme.$white;
            border-color: antimatter-color-scheme.$primary;
            background-color: antimatter-color-scheme.$primary;
        }

        &--disabled {
            composes: header__navigator;
            color: antimatter-color-scheme.$white--a10;
            cursor: not-allowed;

            &:hover,
            &:active {
                color: antimatter-color-scheme.$white--a10;
                background-color: unset;
                border-color: antimatter-color-scheme.$transparent;
            }
        }
    }

    &__headline {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        line-height: 25px;
        font-size: antimatter-typography.$font-size--16px;
        font-weight: antimatter-typography.$font-weight--bold;
        color: antimatter-color-scheme.$gainsboro;
        cursor: pointer;

        &:hover {
            color: antimatter-color-scheme.$white;
        }

        &:active {
            color: antimatter-color-scheme.$neutral;
        }

        &--unclickable {
            composes: header__headline;
            color: antimatter-color-scheme.$gainsboro;

            &:hover,
            &:active {
                color: antimatter-color-scheme.$gainsboro;
                cursor: default;
            }
        }
    }
}
