@use "~@miniskylab/antimatter/infrastructure/sass" as sass;

.topic-cards {
    margin: auto;
    min-width: 300px;
    max-width: sass.$screen-size--XL;

    &__container {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        box-sizing: border-box;
        z-index: sass.$layer--default;
    }
}
