@use "~antimatter/infrastructures/sass" as sass;

.topic-cards {
    margin: auto;
    min-width: 300px;
    max-width: 1000px;

    &__container {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
        z-index: sass.$layer--default;
    }
}
