@use "~antimatter/typography" as typography;
@use "~antimatter/infrastructures/sass" as sass;
@use "~antimatter/color-scheme" as color-scheme;
@use "~antimatter/input-field/variants/input-field--default";

.date-picker {
    display: inline-flex;
    position: relative;
    width: 276px;
    height: 34px;

    &--active {
        composes: date-picker;
    }

    &__input-field {
        composes: input-field;
        width: 100%;
        height: 100%;
        padding-right: 36px;
    }

    &__addon {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 100%;
        font-size: typography.$font-size--16px;
        box-sizing: border-box;
        color: color-scheme.$neutral;
        background-color: color-scheme.$transparent;
        cursor: pointer;

        &:hover {
            color: color-scheme.$white;
        }

        &:active {
            color: color-scheme.$primary;
        }

        &--active {
            @extend .date-picker__addon;

            color: color-scheme.$primary;

            &:hover {
                color: color-scheme.$primary;
            }

            &:active {
                color: color-scheme.$white;
            }
        }
    }

    &__caret {
        position: absolute;
        width: 0;
        height: 0;
        top: -24px;
        right: 6px;
        border: 12px solid color-scheme.$transparent;
        border-bottom-color: color-scheme.$background;
        pointer-events: none;
    }

    &__calendar {
        position: absolute;
        top: 40px;
        right: 0;
        padding: 10px 12px 12px;
        background-color: color-scheme.$background;
        box-shadow: 0 10px 20px color-scheme.$black;
        z-index: sass.$layer--always-on-top;

        &:focus {
            outline: none;
        }
    }
}
