@use "default";
@use "~@miniskylab/antimatter-typography";

.header {

    &__navigator {
        width: 36px;
        height: 36px;
        font-size: antimatter-typography.$font-size--18px;
        border-width: 3px;

        &:first-of-type {
            padding-right: 2px;
        }

        &:last-child {
            padding-left: 2px;
        }
    }

    &__headline {
        line-height: 23px;
        font-size: antimatter-typography.$font-size--18px;
    }
}
