@use "~antimatter/typography" as typography;
@use "~antimatter/color-scheme" as color-scheme;

.input-field {
    width: 260px;
    height: 34px;
    font-size: typography.$font-size--14px;
    padding: 6px 12px;
    border: none;
    outline: none;
    text-align: inherit;
    box-sizing: border-box;
    color: color-scheme.$neutral;
    background-color: color-scheme.$mine-shaft;

    &::placeholder {
        color: color-scheme.$gray;
        font-style: italic;
    }
}
