@font-face {
  font-family: 'antimatter';
  src:  url('fonts/antimatter.eot?62kqyo');
  src:  url('fonts/antimatter.eot?62kqyo#iefix') format('embedded-opentype'),
    url('fonts/antimatter.ttf?62kqyo') format('truetype'),
    url('fonts/antimatter.woff?62kqyo') format('woff'),
    url('fonts/antimatter.svg?62kqyo#antimatter') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="antimatter-icon__"], [class*=" antimatter-icon__"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'antimatter' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.antimatter-icon__arrow-left:before {
  content: "\e925";
}
.antimatter-icon__arrow-right:before {
  content: "\e91a";
}
.antimatter-icon__arrow-down:before {
  content: "\e91b";
}
.antimatter-icon__arrow-up:before {
  content: "\e91c";
}
.antimatter-icon__chevron-left:before {
  content: "\e908";
}
.antimatter-icon__chevron-right:before {
  content: "\e911";
}
.antimatter-icon__chevron-down:before {
  content: "\e90f";
}
.antimatter-icon__chevron-up:before {
  content: "\e910";
}
.antimatter-icon__sun:before {
  content: "\e90e";
}
.antimatter-icon__moon:before {
  content: "\e912";
}
.antimatter-icon__check-mark:before {
  content: "\e901";
}
.antimatter-icon__x-mark:before {
  content: "\e914";
}
.antimatter-icon__clock:before {
  content: "\e903";
}
.antimatter-icon__history:before {
  content: "\e904";
}
.antimatter-icon__briefcase:before {
  content: "\e918";
}
.antimatter-icon__flag:before {
  content: "\e917";
}
.antimatter-icon__yin-yang:before {
  content: "\ed01";
}
.antimatter-icon__trash-can:before {
  content: "\e913";
}
.antimatter-icon__plus-circle:before {
  content: "\e915";
}
.antimatter-icon__info:before {
  content: "\e90d";
}
.antimatter-icon__graduation:before {
  content: "\e902";
}
.antimatter-icon__location:before {
  content: "\e905";
}
.antimatter-icon__pen:before {
  content: "\e906";
}
.antimatter-icon__rocket:before {
  content: "\e907";
}
.antimatter-icon__medal:before {
  content: "\e909";
}
.antimatter-icon__origin:before {
  content: "\e90a";
}
.antimatter-icon__no-mic:before {
  content: "\e90b";
}
.antimatter-icon__warning:before {
  content: "\e90c";
}
.antimatter-icon__heart:before {
  content: "\e919";
}
.antimatter-icon__dna:before {
  content: "\e920";
}
.antimatter-icon__antimatter:before {
  content: "\e916";
}
.antimatter-icon__miniskylab:before {
  content: "\e921";
}
.antimatter-icon__react-js:before {
  content: "\e91f";
}
.antimatter-icon__mysql:before {
  content: "\e91e";
}
.antimatter-icon__dotnet:before {
  content: "\e91d";
}
.antimatter-icon__stack-overflow:before {
  content: "\e922";
}
.antimatter-icon__strapi:before {
  content: "\e923";
}
.antimatter-icon__tower:before {
  content: "\e924";
}
.antimatter-icon__new-tab:before {
  content: "\e900";
}
.antimatter-icon__download:before {
  content: "\e926";
}
.antimatter-icon__calendar:before {
  content: "\e927";
}
.antimatter-icon__wifi:before {
  content: "\e928";
}
.antimatter-icon__document:before {
  content: "\e929";
}
.antimatter-icon__floppy-disk:before {
  content: "\e92a";
}
.antimatter-icon__x-mark-inside-circle:before {
  content: "\e92b";
}
.antimatter-icon__eye:before {
  content: "\e92c";
}
.antimatter-icon__quill:before {
  content: "\e92d";
}
.antimatter-icon__fire:before {
  content: "\e92e";
}
.antimatter-icon__not-allowed:before {
  content: "\e92f";
}
