@use "~@miniskylab/antimatter-responsive/screen-size";
@use "card--33pct-wide";

.card {
    display: none;

    & * {
        display: none;
    }

    @include screen-size.XL {

        &:nth-child(n+5) {
            display: flex;
            width: 25%;
            margin: 0;
        }
    }
}
