@use "sass:string";
@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-label/variant/default" as antimatter-label-default;
@use "~@miniskylab/antimatter-button/variant/outlined-circular" as antimatter-button-outlined-circular;
@use "~@miniskylab/antimatter-button/variant/outlined-rectangular" as antimatter-button-outlined-rectangular;

@mixin variant($Calendar) {
    @at-root {
        #{$Calendar} {
            display: inline-block;
            width: 320px;
            text-align: center;
            color: antimatter-color-scheme.$neutral;
            outline: none;
            overflow: hidden;
            user-select: none;

            .Calendar-Header {
                display: flex;

                $Calendar-Header-Navigator: ".Calendar-Header-Navigator";
                @include antimatter-button-outlined-circular.variant($Calendar-Header-Navigator) {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    border: 3px solid antimatter-color-scheme.$transparent;
                    color: antimatter-color-scheme.$neutral;

                    .Button-Icon {
                        font-size: antimatter-typography.$font-size--16px;
                    }

                    &:first-of-type {
                        padding-right: 2px;
                    }

                    &:last-child {
                        padding-left: 2px;
                    }

                    @media (hover: hover) {

                        &:not(&--Disabled):hover {
                            border-color: antimatter-color-scheme.$primary;
                            background-color: antimatter-color-scheme.$primary--a10;

                            &:active {
                                border-color: antimatter-color-scheme.$primary;
                                background-color: antimatter-color-scheme.$primary;
                            }
                        }
                    }
                }

                $Calendar-Header-Headline: ".Calendar-Header-Headline";
                @include antimatter-button-outlined-rectangular.variant($Calendar-Header-Headline) {
                    flex-grow: 1;
                    min-width: auto;
                    width: auto;
                    height: auto;
                    line-height: 25px;
                    padding: 0;
                    border: none;
                    font-weight: antimatter-typography.$font-weight--bold;
                    color: antimatter-color-scheme.$gainsboro;

                    .Button-Label {
                        font-size: antimatter-typography.$font-size--16px;
                    }

                    &--Disabled {
                        opacity: 1;
                        filter: saturate(100%);
                        color: antimatter-color-scheme.$gainsboro;
                        cursor: default;
                    }

                    @media (hover: hover) {

                        &:not(&--Disabled):hover {
                            color: antimatter-color-scheme.$white;
                            background-color: antimatter-color-scheme.$transparent;

                            &:active {
                                color: antimatter-color-scheme.$neutral;
                            }
                        }
                    }
                }
            }

            .Calendar-DateView {
                display: flex;
                flex-wrap: wrap;

                $Calendar-DateView-WeekNo: ".Calendar-DateView-WeekNo";
                @include antimatter-label-default.variant($Calendar-DateView-WeekNo) {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    box-sizing: border-box;
                    color: antimatter-color-scheme.$white--a10;
                    font-size: antimatter-typography.$font-size--13px;
                    font-weight: antimatter-typography.$font-weight--bold;
                    pointer-events: none;

                    &:first-of-type {
                        padding-top: 1px;
                    }
                }

                $Calendar-DateView-WeekOfYear: ".Calendar-DateView-WeekOfYear";
                @include antimatter-label-default.variant($Calendar-DateView-WeekOfYear) {
                    @extend #{$Calendar-DateView-WeekNo};
                    font-size: antimatter-typography.$font-size--10px;
                }

                $Calendar-DateView-DayOfWeek: ".Calendar-DateView-DayOfWeek";
                @include antimatter-label-default.variant($Calendar-DateView-DayOfWeek) {
                    display: flex;
                    flex-direction: column;
                    width: 40px;
                    height: 40px;
                    color: antimatter-color-scheme.$gainsboro;
                    font-size: antimatter-typography.$font-size--14px;
                    font-weight: antimatter-typography.$font-weight--bold;
                    pointer-events: none;
                }

                &__Date {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    border: 3px solid antimatter-color-scheme.$transparent;
                    margin: 1px;
                    box-sizing: border-box;
                    font-size: antimatter-typography.$font-size--12px;
                }

                &__Today {
                    @extend .Calendar-DateView__Date;
                    border-color: antimatter-color-scheme.$neutral;
                }

                &__DateContainer {
                    cursor: pointer;

                    &--Extraneous {
                        @extend .Calendar-DateView__DateContainer;
                        color: antimatter-color-scheme.$white--a10;
                    }

                    &--Highlighted {
                        @extend .Calendar-DateView__DateContainer;

                        .Calendar-DateView__Date {
                            font-weight: antimatter-typography.$font-weight--bold;
                        }
                    }

                    &--Selected {
                        @extend .Calendar-DateView__DateContainer;

                        .Calendar-DateView__Date {
                            color: antimatter-color-scheme.$ambient;
                            background-color: antimatter-color-scheme.$primary;
                            font-weight: antimatter-typography.$font-weight--bold;
                        }
                    }

                    @media (hover: hover) {

                        &:not(&--Selected):hover {

                            .Calendar-DateView__Date {
                                color: antimatter-color-scheme.$white;
                                border-color: antimatter-color-scheme.$primary;
                                background-color: antimatter-color-scheme.$primary--a10;
                            }

                            &:active {

                                .Calendar-DateView__Date {
                                    color: antimatter-color-scheme.$ambient;
                                    border-color: antimatter-color-scheme.$primary;
                                    background-color: antimatter-color-scheme.$primary;
                                    font-weight: antimatter-typography.$font-weight--bold;
                                }
                            }
                        }
                    }
                }

                &__TodayContainer {
                    cursor: pointer;

                    &--Highlighted {
                        @extend .Calendar-DateView__TodayContainer;

                        .Calendar-DateView__Today {
                            font-weight: antimatter-typography.$font-weight--bold;
                        }
                    }

                    &--Selected {
                        @extend .Calendar-DateView__TodayContainer;

                        .Calendar-DateView__Today {
                            color: antimatter-color-scheme.$ambient;
                            border-color: antimatter-color-scheme.$primary;
                            background-color: antimatter-color-scheme.$primary;
                            font-weight: antimatter-typography.$font-weight--bold;
                        }
                    }

                    @media (hover: hover) {

                        &:not(&--Selected):hover {

                            .Calendar-DateView__Today {
                                color: antimatter-color-scheme.$white;
                                border-color: antimatter-color-scheme.$primary;
                                background-color: antimatter-color-scheme.$primary--a10;
                            }

                            &:active {

                                .Calendar-DateView__Today {
                                    color: antimatter-color-scheme.$ambient;
                                    border-color: antimatter-color-scheme.$primary;
                                    background-color: antimatter-color-scheme.$primary;
                                    font-weight: antimatter-typography.$font-weight--bold;
                                }
                            }
                        }
                    }
                }

                $Calendar-DateView-TodayText: ".Calendar-DateView-TodayText";
                @include antimatter-label-default.variant($Calendar-DateView-TodayText) {
                    display: flex;
                    flex-direction: column;
                    height: 14px;
                    padding-top: 7px;
                    font-size: antimatter-typography.$font-size--10px;
                }

                $Calendar-DateView-TodayNumber: ".Calendar-DateView-TodayNumber";
                @include antimatter-label-default.variant($Calendar-DateView-TodayNumber) {
                    display: flex;
                    flex-direction: column;
                    height: 15px;
                    padding-bottom: 3px;
                    font-size: antimatter-typography.$font-size--11px;
                }
            }

            .Calendar-MonthView {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                $Calendar-MonthView-GridCell: ".Calendar-MonthView-GridCell";
                @include antimatter-button-outlined-rectangular.variant($Calendar-MonthView-GridCell) {
                    display: flex;
                    flex-direction: column;
                    min-width: auto;
                    width: calc(25% - 10px);
                    height: 60px;
                    padding: 0;
                    border: 3px solid antimatter-color-scheme.$transparent;
                    margin: 5px;
                    color: antimatter-color-scheme.$neutral;

                    .Button-Icon {
                        display: none;
                    }

                    .Button-Label {
                        font-size: antimatter-typography.$font-size--14px;
                    }

                    &--Extraneous {
                        @extend #{$Calendar-MonthView-GridCell};
                        color: antimatter-color-scheme.$white--a10;
                    }

                    &--Selected {
                        @extend #{$Calendar-MonthView-GridCell};
                        font-weight: antimatter-typography.$font-weight--bold;
                        border-color: antimatter-color-scheme.$neutral;
                    }

                    @media (hover: hover) {

                        &:hover {
                            border-color: antimatter-color-scheme.$primary;
                            background-color: antimatter-color-scheme.$primary--a10;

                            &:active {
                                border-color: antimatter-color-scheme.$primary;
                                background-color: antimatter-color-scheme.$primary;
                            }
                        }
                    }
                }
            }

            .Calendar-YearView {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                $Calendar-YearView-GridCell: ".Calendar-YearView-GridCell";
                @include antimatter-button-outlined-rectangular.variant($Calendar-YearView-GridCell) {
                    display: flex;
                    flex-direction: column;
                    min-width: auto;
                    width: calc(25% - 10px);
                    height: 60px;
                    padding: 0;
                    border: 3px solid antimatter-color-scheme.$transparent;
                    margin: 5px;
                    color: antimatter-color-scheme.$neutral;

                    .Button-Icon {
                        display: none;
                    }

                    &--Extraneous {
                        @extend #{$Calendar-YearView-GridCell};
                        color: antimatter-color-scheme.$white--a10;
                    }

                    &--Selected {
                        @extend #{$Calendar-YearView-GridCell};
                        font-weight: antimatter-typography.$font-weight--bold;
                        border-color: antimatter-color-scheme.$neutral;
                    }

                    &--Empty {
                        @extend #{$Calendar-YearView-GridCell};
                        pointer-events: none;
                    }

                    @media (hover: hover) {

                        &:hover {
                            border-color: antimatter-color-scheme.$primary;
                            background-color: antimatter-color-scheme.$primary--a10;

                            &:active {
                                border-color: antimatter-color-scheme.$primary;
                                background-color: antimatter-color-scheme.$primary;
                            }
                        }
                    }
                }
            }

            .Calendar-Controls {
                display: flex;
                justify-content: space-around;

                $Calendar-Controls-Button: ".Calendar-Controls-Button";
                @include antimatter-button-outlined-rectangular.variant($Calendar-Controls-Button) {
                    display: flex;
                    min-width: 80px;
                    width: 80px;
                    padding: 0;
                    border: 2px solid antimatter-color-scheme.$transparent;
                    color: antimatter-color-scheme.$neutral;
                    font-weight: antimatter-typography.$font-weight--bold;

                    .Button-Icon {
                        min-width: 12px;
                        height: 12px;
                        font-size: antimatter-typography.$font-size--12px;
                    }

                    .Button-Label {
                        display: inline-flex;
                        padding: 0;
                        margin-top: 1px;
                        margin-left: 5px;
                        font-size: antimatter-typography.$font-size--12px;
                    }

                    @media (hover: hover) {

                        &:not(&--Disabled):hover {
                            color: antimatter-color-scheme.$gainsboro;
                            background-color: antimatter-color-scheme.$transparent;

                            &:active {
                                color: antimatter-color-scheme.$gray;
                                background-color: antimatter-color-scheme.$transparent;
                            }
                        }
                    }
                }
            }

            .Calendar-Transition {
                position: relative;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

                /*# region No Transition */

                &--NoneOutStart {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 1;
                    transform: translateX(0%);
                }

                &--NoneOutInProgress {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    transform: translateX(100%);
                    transition: transform, opacity;
                    transition-duration: 0ms;
                }

                &--NoneInStart {
                    opacity: 0;
                    transform: translateX(-100%);
                }

                &--NoneInInProgress {
                    opacity: 1;
                    transform: translateX(0%);
                    transition: transform, opacity;
                    transition-duration: 0ms;
                }

                /*# endregion */

                /*# region Forward Transition */

                &--ForwardOutStart {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 1;
                    transform: translateX(0%);
                }

                &--ForwardOutInProgress {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    transform: translateX(100%);
                    transition: transform ease-out, opacity cubic-bezier(0, 0, 0, 1);
                    transition-duration: 500ms;
                }

                &--ForwardInStart {
                    opacity: 0;
                    transform: translateX(-100%);
                }

                &--ForwardInInProgress {
                    opacity: 1;
                    transform: translateX(0%);
                    transition: transform ease-out, opacity cubic-bezier(0, 0, 0, 1);
                    transition-duration: 500ms;
                }

                /*# endregion */

                /*# region Backward Transition */

                &--BackwardOutStart {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 1;
                    transform: translateX(0%);
                }

                &--BackwardOutInProgress {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    transform: translateX(-100%);
                    transition: transform ease-out, opacity cubic-bezier(0, 0, 0, 1);
                    transition-duration: 500ms;
                }

                &--BackwardInStart {
                    opacity: 0;
                    transform: translateX(100%);
                }

                &--BackwardInInProgress {
                    opacity: 1;
                    transform: translateX(0%);
                    transition: transform ease-out, opacity cubic-bezier(0, 0, 0, 1);
                    transition-duration: 500ms;
                }

                /*# endregion */

                /*# region Inward Transition */

                &--InwardOutStart {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 1;
                    transform: scale(1);
                }

                &--InwardOutInProgress {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    transform: scale(0.7);
                    transition: transform ease-out, opacity cubic-bezier(0, 0, 0, 1);
                    transition-duration: 200ms;
                }

                &--InwardInStart {
                    opacity: 0;
                    transform: scale(2);
                }

                &--InwardInInProgress {
                    opacity: 1;
                    transform: scale(1);
                    transition: transform ease-out, opacity cubic-bezier(0, 0, 0, 1);
                    transition-duration: 200ms;
                    transition-delay: 250ms;
                }

                /*# endregion */

                /*# region Outward Transition */

                &--OutwardOutStart {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 1;
                    transform: scale(1);
                }

                &--OutwardOutInProgress {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    transform: scale(1.3);
                    transition: transform ease-out, opacity cubic-bezier(0, 0, 0, 1);
                    transition-duration: 200ms;
                }

                &--OutwardInStart {
                    opacity: 0;
                    transform: scale(0.7);
                }

                &--OutwardInInProgress {
                    opacity: 1;
                    transform: scale(1);
                    transition: transform ease-out, opacity cubic-bezier(0, 0, 0, 1);
                    transition-duration: 200ms;
                    transition-delay: 250ms;
                }

                /*# endregion */
            }
        }
    }

    #{$Calendar} {
        @content;
    }
}
