@use "~antimatter/typography" as typography;
@use "~antimatter/color-scheme" as color-scheme;

.data-table {

    &__column {
        display: inline-block;
        vertical-align: top;
    }

    &__control-box {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        width: 115px;
        height: 34px;
        padding: 4px 10px 4px 12px;

        &--selected {
            composes: data-table__control-box;
            background-color: color-scheme.$accent--a10;
            border-top: 1px solid color-scheme.$accent;
            border-bottom: 1px solid color-scheme.$accent;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }

    &__vr {
        width: 0;
        height: 100%;
        margin-right: 1px;
        border-right: 1px solid color-scheme.$gray;

        &--disabled {
            composes: data-table__vr;
            border-right-color: color-scheme.$background;
            opacity: 0.65;
        }
    }

    &__add-new-icon {
        box-sizing: border-box;
        width: 34px;
        height: 34px;
        padding: 8px 0;
        opacity: 0.65;
    }

    &__add-new-label {
        box-sizing: border-box;
        font-weight: typography.$font-weight--bold;
        font-size: typography.$font-size--14px;
        padding: 8px 0;
        opacity: 0.65;
    }
}
