@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

.year-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__grid-cell {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(25% - 10px);
        height: 60px;
        margin: 5px;
        font-size: antimatter-typography.$font-size--14px;
        border: 2px solid antimatter-color-scheme.$transparent;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
            color: antimatter-color-scheme.$white;
            border-color: antimatter-color-scheme.$primary;
            background-color: antimatter-color-scheme.$primary--a10;
        }

        &:active {
            color: antimatter-color-scheme.$white;
            border-color: antimatter-color-scheme.$primary;
            background-color: antimatter-color-scheme.$primary;
        }

        &--extraneous {
            composes: year-view__grid-cell;
            color: antimatter-color-scheme.$white--a10;
        }

        &--selected {
            composes: year-view__grid-cell;
            font-weight: antimatter-typography.$font-weight--bold;
            border-color: antimatter-color-scheme.$neutral;
        }

        &--empty {
            composes: year-view__grid-cell;
            pointer-events: none;
        }
    }
}
