@use "~antimatter/typography" as typography;
@use "~antimatter/color-scheme" as color-scheme;

.date-view {
    display: flex;
    flex-wrap: wrap;

    &__week-no {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        font-size: typography.$font-size--13px;
        font-weight: typography.$font-weight--bold;
        color: color-scheme.$white--a10;
        padding-top: 1px;
        box-sizing: border-box;
        pointer-events: none;

        &:first-child {
            padding-top: 2px;
        }
    }

    &__week-of-year {
        composes: date-view__week-no;
        font-size: typography.$font-size--10px;
    }

    &__day-of-week {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40px;
        height: 40px;
        font-size: typography.$font-size--14px;
        font-weight: typography.$font-weight--bold;
        color: color-scheme.$gainsboro;
        pointer-events: none;
    }

    &__date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 38px;
        height: 38px;
        font-size: typography.$font-size--12px;
        border-radius: 50%;
        border: 3px solid color-scheme.$transparent;
        padding-top: 2px;
        margin: 1px;
        box-sizing: border-box;
    }

    &__date-container {
        cursor: pointer;

        &--extraneous {
            composes: date-view__date-container;
            color: color-scheme.$white--a10;
        }

        &--highlighted {
            composes: date-view__date-container;

            .date-view__date {
                font-weight: typography.$font-weight--bold;
            }
        }

        &--selected {
            cursor: pointer;

            .date-view__date {
                font-weight: typography.$font-weight--bold;
                color: color-scheme.$white;
                background-color: color-scheme.$primary;
            }
        }

        &:hover {

            .date-view__date {
                color: color-scheme.$white;
                border-color: color-scheme.$primary;
                background-color: color-scheme.$primary--a10;
            }
        }

        &:active {

            .date-view__date {
                font-weight: typography.$font-weight--bold;
                color: color-scheme.$white;
                border-color: color-scheme.$primary;
                background-color: color-scheme.$primary;
            }
        }
    }

    &__today {
        composes: date-view__date;
        border-color: color-scheme.$neutral;
    }

    &__today-container {
        composes: date-view__date-container;

        &--selected {
            cursor: pointer;

            .date-view__today {
                pointer-events: none;
                font-weight: typography.$font-weight--bold;
                color: color-scheme.$white;
                border-color: color-scheme.$primary;
                background-color: color-scheme.$primary;
            }
        }

        &--highlighted {
            composes: date-view__today-container;

            .date-view__today {
                font-weight: typography.$font-weight--bold;
            }
        }
    }

    &__today-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 14px;
        font-size: typography.$font-size--10px;
        padding-top: 5px;
    }

    &__today-number {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 15px;
        font-size: typography.$font-size--11px;
        padding-bottom: 3px;
    }
}
