@use "~@miniskylab/antimatter-color-scheme";

@mixin variant($Typography) {
    @at-root {
        #{$Typography} {
            display: flex;
            align-items: center;
            width: 100%;

            &__FontSize {
                display: inline-flex;
                min-width: 50px;
                font-size: 12px;
                color: antimatter-color-scheme.$neutral;
            }

            &__ExampleText {
                color: antimatter-color-scheme.$white;
                line-height: 1.2;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    #{$Typography} {
        @content;
    }
}
