@use "~@miniskylab/antimatter-layer";
@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-responsive/screen-size";
@use "~@miniskylab/antimatter-icon/variant/default" as antimatter-icon-default;
@use "~@miniskylab/antimatter-label/variant/default" as antimatter-label-default;
@use "~@miniskylab/antimatter-button/variant/solid-rectangular" as antimatter-button-solid-rectangular;

@mixin -grid-layout($column-count) {
    $gap-count: $column-count - 1;

    width: calc((100% / #{$column-count}) - ((#{$gap-count} * 20px) / #{$column-count}));

    &:nth-child(n) {
        margin: 10px;
    }

    &:nth-child(#{$column-count}n + 1) {
        margin-left: 0;
    }

    &:nth-child(#{$column-count}n + #{$column-count}) {
        margin-right: 0;
    }
}

@mixin variant($TopicCards) {
    @at-root {
        #{$TopicCards} {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            min-width: 300px;
            max-width: screen-size.$XL;
            z-index: antimatter-layer.$default;

            .TopicCards-Card {
                position: relative;
                display: inline-flex;
                flex-direction: column;
                padding: 40px 20px 20px;
                box-sizing: border-box;
                background-color: antimatter-color-scheme.$background;

                @include -grid-layout(1);

                @include screen-size.M {
                    @include -grid-layout(2);
                }

                @include screen-size.L {
                    @include -grid-layout(3);
                }

                @include screen-size.XL {

                    &:first-child:nth-last-child(n + 4),
                    &:first-child:nth-last-child(n + 4) ~ .TopicCards-Card {
                        width: 25%;
                        margin: 0;
                    }
                }

                &--Placeholder {
                    display: none;

                    & * {
                        display: none;
                    }

                    @include screen-size.XL {

                        &:nth-child(n+5) {
                            display: flex;
                            width: 25%;
                            margin: 0;
                        }
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    box-shadow: 0 -2px 40px antimatter-color-scheme.$black;
                    z-index: antimatter-layer.$ambient;
                }

                $TopicCards-Card-Icon: ".TopicCards-Card-Icon";
                @include antimatter-icon-default.variant($TopicCards-Card-Icon) {
                    height: 150px;
                    font-size: antimatter-typography.$font-size--150px;
                    color: antimatter-color-scheme.$white;
                    -webkit-backface-visibility: hidden;
                    text-align: center;
                }

                &__Image {
                    width: 100%;
                    height: 150px;
                    object-fit: contain;
                }

                $TopicCards-Card-Title: ".TopicCards-Card-Title";
                @include antimatter-label-default.variant($TopicCards-Card-Title) {
                    width: 100%;
                    margin-top: 30px;
                    color: antimatter-color-scheme.$white;
                    font-size: antimatter-typography.$font-size--32px;
                    font-weight: antimatter-typography.$font-weight--bold;
                    text-align: center;
                }

                $TopicCards-Card-Description: ".TopicCards-Card-Description";
                @include antimatter-label-default.variant($TopicCards-Card-Description) {
                    line-height: 28px;
                    margin-top: 20px;
                    color: antimatter-color-scheme.$neutral;
                    font-size: antimatter-typography.$font-size--16px;
                    text-align: justify;
                }

                &__CtaButtonContainer {
                    display: flex;
                    flex-direction: column;
                    margin: 15px 0 5px;
                }

                $TopicCards-Card-CtaButton: ".TopicCards-Card-CtaButton";
                @include antimatter-button-solid-rectangular.variant($TopicCards-Card-CtaButton) {
                    flex-direction: row-reverse;
                    width: 100%;
                    height: 50px;
                    padding: 6px 14px;
                    border: 2px solid antimatter-color-scheme.$gray;
                    margin-top: 15px;
                    background-color: antimatter-color-scheme.$gray;

                    $Button-Icon: ".Button-Icon";
                    @include antimatter-icon-default.variant($Button-Icon) {
                        min-width: 25px;
                        font-size: antimatter-typography.$font-size--18px;
                        transition: transform 0.2s linear;
                    }

                    $Button-Label: ".Button-Label";
                    @include antimatter-label-default.variant($Button-Label) {
                        justify-content: flex-start;
                        width: 100%;
                        padding: 0 15px;
                        font-size: antimatter-typography.$font-size--16px;
                        font-weight: antimatter-typography.$font-weight--bold;
                    }

                    @media (hover: hover) {

                        &:not(&--disabled):hover {
                            border-color: antimatter-color-scheme.$gray--w25;
                            background-color: antimatter-color-scheme.$gray--w25;

                            &:not([target]),
                            &[target="_self"] {

                                #{$Button-Icon} {
                                    transform: translateX(8px);
                                }
                            }

                            &[target="_blank"] {

                                #{$Button-Icon} {
                                    transform: scale(1.4, 1.4);
                                }
                            }

                            &:active {
                                border-color: antimatter-color-scheme.$gray--w25;
                                background-color: antimatter-color-scheme.$gray--w25;
                                outline: 1px solid antimatter-color-scheme.$gray--w25;
                            }
                        }
                    }
                }
            }
        }
    }

    #{$TopicCards} {
        @content;
    }
}
