@use "~@miniskylab/antimatter-responsive/screen-size";
@use "~@miniskylab/antimatter-color-scheme";

.image-matrix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__image {
        width: 100%;
        padding: 15px 5px;
        box-sizing: border-box;
        object-fit: contain;

        @include screen-size.S {
            width: 50%;
        }

        @include screen-size.M {
            width: 33.33%;
        }

        @include screen-size.L {
            width: 20%;
        }
    }
}
