@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

@mixin variant($Footer) {
    @at-root {
        #{$Footer} {
            width: 100%;
            min-width: 300px;
            line-height: 28px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: antimatter-typography.$font-weight--bold;
            color: antimatter-color-scheme.$white;
            background-color: antimatter-color-scheme.$background;
            text-align: center;
        }
    }

    #{$Footer} {
        @content;
    }
}
