@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

.panel {
    display: flex;
    flex-direction: column;
    background-color: antimatter-color-scheme.$background;

    &__title {
        color: antimatter-color-scheme.$white;
        font-size: antimatter-typography.$font-size--20px;
        font-weight: antimatter-typography.$font-weight--bold;
        line-height: 30px;
        margin: 10px 15px -5px;
    }

    &__content {
        margin: 15px;
    }
}
