@font-face {
    font-family: "Roboto";
    src: url("~@miniskylab/antimatter-typography/font/Roboto/Roboto-Bold.woff2") format("woff2"), url("~@miniskylab/antimatter-typography/font/Roboto/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
