@font-face {
    font-family: "Roboto";
    src: url("~@miniskylab/antimatter-typography/font/Roboto/Roboto-Regular.woff2") format("woff2"), url("~@miniskylab/antimatter-typography/font/Roboto/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
