@use "horizontal";
@use "~@miniskylab/antimatter-typography";

.pips {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;

    &__label {
        font-size: antimatter-typography.$font-size--20px;
        padding-top: 25px;
        font-weight: antimatter-typography.$font-weight--bold;
    }
}
