@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    border: 2px solid antimatter-color-scheme.$gray;
    vertical-align: top;
    user-select: none;
    cursor: pointer;

    &--disabled {
        composes: button;
        opacity: 0.65;
        pointer-events: none;
        border-color: antimatter-color-scheme.$background;
    }

    &--circular {
        composes: button;
        border-radius: 50%;

        &--disabled {
            composes: button--circular button--disabled;
        }
    }

    &:hover {
        color: antimatter-color-scheme.$white;
        background-color: antimatter-color-scheme.$gray--a10;
    }

    &:active {
        color: antimatter-color-scheme.$white;
        background-color: antimatter-color-scheme.$gray;
    }

    &__icon {
        width: 20px;
        height: 20px;
        padding: 3px;
        box-sizing: border-box;
    }

    &__text {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        height: 20px;
        padding: 0 10px;
        box-sizing: border-box;
        font-size: antimatter-typography.$font-size--14px;
    }
}
