@use "sass:color";

$white: rgb(255, 255, 255);
$white--a3: rgba($white, 0.03);
$white--a4: rgba($white, 0.04);
$white--a5: rgba($white, 0.05);
$white--a8: rgba($white, 0.08);
$white--a10: rgba($white, 0.1);
$white--a30: rgba($white, 0.3);
$white--a50: rgba($white, 0.5);

$black: rgb(0, 0, 0);
$black--a15: rgba($black, 0.15);
$black--a25: rgba($black, 0.25);
$black--a35: rgba($black, 0.35);

$blue: rgb(0, 160, 255);

$green: rgb(135, 172, 78);

$gold: rgb(255, 191, 71);

$tomato: rgb(255, 112, 71);

$purple: rgb(137, 89, 168);

$mine-shaft: rgb(40, 40, 40);

$gray: rgb(128, 128, 128);
$gray--a10: rgba($gray, 0.1);
$gray--a65: rgba($gray, 0.65);
$gray--w25: color.mix($white, $gray, 25%);

$gainsboro: rgb(220, 220, 220);

$transparent: rgba(0, 0, 0, 0);

$primary: rgb(0, 160, 255);
$primary--a10: rgba($primary, 0.1);
$primary--a45: rgba($primary, 0.45);
$primary--a65: rgba($primary, 0.65);
$primary--w25: color.mix($white, $primary, 25%);

$secondary: rgb(135, 172, 78);
$secondary--a10: rgba($secondary, 0.1);
$secondary--w25: color.mix($white, $secondary, 25%);

$tertiary: rgb(255, 71, 133);

$complementary: color.complement($primary);
$complementary--a10: rgba($complementary, 0.1);
$complementary--a45: rgba($complementary, 0.45);

$positive: rgb(135, 172, 78);
$positive--a10: rgba($positive, 0.1);
$positive--a45: rgba($positive, 0.45);
$positive--w25: color.mix($white, $positive, 25%);

$warning: rgb(255, 191, 71);
$warning--a10: rgba($warning, 0.1);
$warning--a45: rgba($warning, 0.45);
$warning--w25: color.mix($white, $warning, 25%);

$neutral: rgb(155, 155, 155);
$neutral--a10: rgba($neutral, 0.1);

$negative: rgb(255, 112, 71);
$negative--a10: rgba($negative, 0.1);
$negative--a45: rgba($negative, 0.45);

$accent: rgb(137, 89, 168);
$accent--a10: rgba($accent, 0.1);

$ambient: rgb(30, 30, 30);
$background: rgb(50, 50, 50);
