@use "sass:string";
@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-icon/variant/default" as antimatter-icon-default;
@use "~@miniskylab/antimatter-label/variant/default" as antimatter-label-default;

@mixin variant($class-name) {
    $Selector: ".#{$class-name}";
    $Button: "%#{$class-name}";
    @at-root {
        #{$Button}, #{$Selector} {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 120px;
            width: fit-content;
            height: 34px;
            padding: 6px 12px;
            border-radius: 0;
            border: 1px solid antimatter-color-scheme.$primary;
            box-sizing: border-box;
            color: antimatter-color-scheme.$primary;
            font-weight: antimatter-typography.$font-weight--regular;
            vertical-align: top;
            user-select: none;
            cursor: pointer;
            text-decoration: none;

            $Button-Icon: "Button-Icon";
            @include antimatter-icon-default.variant($Button-Icon) {
                min-width: 16px;
                height: 16px;
                font-size: antimatter-typography.$font-size--16px;
            }

            $Button-Label: "Button-Label";
            @include antimatter-label-default.variant($Button-Label) {
                padding: 0 10px;
                font-size: antimatter-typography.$font-size--14px;
            }

            &--Disabled {
                @extend #{$Button};
                opacity: .2;
                filter: saturate(0%);
                cursor: not-allowed;
            }

            @media (hover: hover) {

                &:not(&--Disabled):hover {
                    color: antimatter-color-scheme.$white;
                    background-color: antimatter-color-scheme.$primary--a10;

                    &:active {
                        color: antimatter-color-scheme.$ambient;
                        background-color: antimatter-color-scheme.$primary;
                    }
                }
            }
        }
    }

    %-#{$class-name}, #{$Selector} {
        @content;
    }
}
