@use "sass:string";
@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-icon/variant/default" as antimatter-icon-default;

@mixin variant($Button) {
    @at-root {
        #{$Button} {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            border: 2px solid antimatter-color-scheme.$primary;
            box-sizing: border-box;
            color: antimatter-color-scheme.$primary;
            vertical-align: top;
            user-select: none;
            cursor: pointer;
            text-decoration: none;

            $Button-Icon: ".Button-Icon";
            @include antimatter-icon-default.variant($Button-Icon) {
                font-size: antimatter-typography.$font-size--14px;
            }

            .Button-Label {
                display: none;
            }

            &--Disabled {
                @extend #{$Button};
                opacity: .2;
                filter: saturate(0%);
                cursor: not-allowed;
            }

            @media (hover: hover) {

                &:not(&--Disabled):hover {
                    color: antimatter-color-scheme.$white;
                    background-color: antimatter-color-scheme.$primary--a10;

                    &:active {
                        color: antimatter-color-scheme.$ambient;
                        background-color: antimatter-color-scheme.$primary;
                    }
                }
            }
        }
    }

    #{$Button} {
        @content;
    }
}
