@use "~@miniskylab/antimatter-layer";
@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-responsive/browser";
@use "~@miniskylab/antimatter-icon/variant/default" as antimatter-icon-default;
@use "~@miniskylab/antimatter-label/variant/default" as antimatter-label-default;
@use "~@miniskylab/antimatter-checkbox/variant/default" as antimatter-checkbox-default;
@use "~@miniskylab/antimatter-input-field/variant/default" as antimatter-input-field-default;
@use "~@miniskylab/antimatter-dropdown-menu/variant/default" as antimatter-dropdown-menu-default;
@use "~@miniskylab/antimatter-button/variant/outlined-rectangular" as antimatter-button-outlined-rectangular;

@mixin variant($DataTable) {
    @at-root {
        #{$DataTable} {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 400px;
            padding: 10px 12px 15px 15px;
            box-sizing: border-box;
            background-color: antimatter-color-scheme.$background;

            &__ControlPanel {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 45px;
                padding-right: 3px;
                margin: 5px 0;
                box-sizing: border-box;
                user-select: none;
            }

            &__Title {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content: center;
                height: 100%;
                color: antimatter-color-scheme.$neutral;
                overflow: hidden;
            }

            $DataTable-SubTitle: ".DataTable-SubTitle";
            @include antimatter-label-default.variant($DataTable-SubTitle) {
                min-height: 20px;
                font-size: 14px;
                justify-content: flex-start;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            $DataTable-MainTitle: ".DataTable-MainTitle";
            @include antimatter-label-default.variant($DataTable-MainTitle) {
                @extend #{$DataTable-SubTitle};
                min-height: 25px;
                line-height: 25px;
                font-size: 20px;
                font-weight: antimatter-typography.$font-weight--bold;
                color: antimatter-color-scheme.$white;
            }

            $DataTable-ControlButton: ".DataTable-ControlButton";
            @include antimatter-button-outlined-rectangular.variant($DataTable-ControlButton) {
                display: flex;
                flex-direction: column;
                min-width: 45px;
                height: 45px;
                padding: 0;
                margin-left: 15px;
                border: none;
                color: antimatter-color-scheme.$neutral;

                &:nth-of-type(2) {
                    min-width: 70px;
                }

                $Button-Icon: ".Button-Icon";
                @include antimatter-icon-default.variant($Button-Icon) {
                    flex-grow: 1;
                    height: auto;
                    font-size: 24px;
                }

                $Button-Label: ".Button-Label";
                @include antimatter-label-default.variant($Button-Label) {
                    padding: 0;
                    line-height: 12px;
                    font-size: 12px;
                    font-weight: antimatter-typography.$font-weight--bold;
                }

                @media (hover: hover) {

                    &:not(#{$DataTable-ControlButton}--Disabled):hover {
                        background-color: antimatter-color-scheme.$transparent;

                        &:active {
                            color: antimatter-color-scheme.$gray;
                        }
                    }
                }

                &--Draft {
                    color: antimatter-color-scheme.$primary--a65;
                    cursor: not-allowed;

                    @media (hover: hover) {

                        &:not(#{$DataTable-ControlButton}--Disabled):hover {
                            color: antimatter-color-scheme.$primary--a65;

                            &:active {
                                color: antimatter-color-scheme.$primary--a65;
                            }
                        }
                    }
                }

                &--Edit {
                    color: antimatter-color-scheme.$primary;
                }

                &--Delete {
                    color: antimatter-color-scheme.$negative;
                }
            }

            &__Container {
                display: flex;
                width: 100%;
                height: 521px;
                padding-bottom: 1px;
                margin-top: 5px;
                overflow-y: scroll;
                overscroll-behavior: contain;
                mask-image: linear-gradient(to top, antimatter-color-scheme.$transparent, antimatter-color-scheme.$black), linear-gradient(to left, antimatter-color-scheme.$transparent 3px, antimatter-color-scheme.$black 3px);
                mask-size: 100% 100000%;
                mask-position: left calc(100% + 6px);
                transition: mask-position 0.3s;

                &::-webkit-scrollbar {
                    width: 3px;
                }

                &::-webkit-scrollbar-track {
                    background-color: antimatter-color-scheme.$background;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: antimatter-color-scheme.$white--a50;
                }

                @include browser.FireFoxOnly {
                    // noinspection CssUnknownProperty
                    scrollbar-width: none;
                }

                @media (hover: hover) {

                    &:hover {
                        mask-position: left -5px;
                    }
                }
            }

            &__Scroll {
                width: 100%;
                height: fit-content;
                margin-right: 3px;
                background-color: antimatter-color-scheme.$ambient;
            }

            &__Hr {
                position: absolute;
                top: 110px;
                width: calc(100% - 33px);
                height: 2px;
                background-color: antimatter-color-scheme.$neutral;
                z-index: antimatter-layer.$higher;
            }

            .DataTable-Row {
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 40px;
                gap: 10px;
                padding: 0 12px;
                box-sizing: border-box;
                color: antimatter-color-scheme.$neutral;
                box-shadow: 0 1px antimatter-color-scheme.$neutral inset, 0 -1px antimatter-color-scheme.$neutral inset, 0 1px antimatter-color-scheme.$neutral, 0 -1px antimatter-color-scheme.$neutral;

                &:not(&--Header):first-of-type {
                    margin-top: 1px;
                }

                &--Header {
                    position: sticky;
                    top: 0;
                    margin: 0 0 1px 0;
                    font-weight: antimatter-typography.$font-weight--bold;
                    color: antimatter-color-scheme.$white;
                    background-color: antimatter-color-scheme.$ambient;
                    z-index: antimatter-layer.$always-on-top;
                    box-shadow: none;
                }

                &--ReadOnlyMode {
                    cursor: pointer;

                    @media (hover: hover) {

                        &:hover {
                            box-shadow: 0 1px antimatter-color-scheme.$primary inset, 0 -1px antimatter-color-scheme.$primary inset, 0 1px antimatter-color-scheme.$primary, 0 -1px antimatter-color-scheme.$primary;
                            background-color: antimatter-color-scheme.$primary--a10;
                            z-index: antimatter-layer.$higher;
                        }
                    }
                }

                &--DraftMode {
                    box-shadow: 0 1px antimatter-color-scheme.$primary inset, 0 -1px antimatter-color-scheme.$primary inset, 0 1px antimatter-color-scheme.$primary, 0 -1px antimatter-color-scheme.$primary;
                    background-color: antimatter-color-scheme.$primary--a10;
                    z-index: antimatter-layer.$higher;
                }

                &--EditMode {
                    box-shadow: 0 1px antimatter-color-scheme.$primary inset, 0 -1px antimatter-color-scheme.$primary inset, 0 1px antimatter-color-scheme.$primary, 0 -1px antimatter-color-scheme.$primary;
                    background-color: antimatter-color-scheme.$primary--a10;
                    z-index: antimatter-layer.$higher;
                }

                &--DeleteMode {
                    box-shadow: 0 1px antimatter-color-scheme.$negative inset, 0 -1px antimatter-color-scheme.$negative inset, 0 1px antimatter-color-scheme.$negative, 0 -1px antimatter-color-scheme.$negative;
                    background-color: antimatter-color-scheme.$negative--a10;
                    z-index: antimatter-layer.$higher;
                }

                .DataTable-Row-CellLabel {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .DataTable-Row-CellIcon {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    height: 100%;
                }

                $DataTable-Row-CellInputField: ".DataTable-Row-CellInputField";
                @include antimatter-input-field-default.variant($DataTable-Row-CellInputField) {
                    flex: 1;
                    width: min-content;
                    background-color: antimatter-color-scheme.$transparent;

                    &__TextBox {
                        padding: 0;
                        font-size: 16px;
                    }

                    $InputField-Placeholder: ".InputField-Placeholder";
                    @include antimatter-label-default.variant($InputField-Placeholder) {
                        left: 0;
                        font-style: italic;

                        &--Shrunk {
                            display: none;
                        }
                    }
                }

                $DataTable-Row-CellDropdownMenu: ".DataTable-Row-CellDropdownMenu";
                @include antimatter-dropdown-menu-default.variant($DataTable-Row-CellDropdownMenu) {
                    flex: 1;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    box-shadow: none;
                    background-color: antimatter-color-scheme.$transparent;

                    $DropdownMenu-Badge: ".DropdownMenu-Badge";
                    @include antimatter-label-default.variant($DropdownMenu-Badge) {
                        padding: 0;
                        margin: 0;
                        font-size: 16px;
                        color: antimatter-color-scheme.$neutral;
                        background-color: antimatter-color-scheme.$transparent;
                    }

                    &__Menu {
                        left: auto;
                        width: calc(100% + 12px);
                        max-height: 170px;
                        padding: 4px 0 5px;
                        overflow-y: scroll;
                        overscroll-behavior: contain;
                        box-shadow: 0 15px 30px antimatter-color-scheme.$black;

                        @include browser.FireFoxOnly {
                            // noinspection CssUnknownProperty
                            scrollbar-width: none;
                        }

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        &--DropUp {
                            box-shadow: 0 -15px 30px antimatter-color-scheme.$black;
                        }
                    }

                    &__MenuItem {
                        font-size: 16px;
                    }

                    &__Caret {
                        top: 18px;
                    }
                }

                $DataTable-Row-CellCheckbox: ".DataTable-Row-CellCheckbox";
                @include antimatter-checkbox-default.variant($DataTable-Row-CellCheckbox) {
                    flex: 1;
                    width: 100%;
                    margin-top: 3px;
                }
            }

            $DataTable-AddNewButton: ".DataTable-AddNewButton";
            @include antimatter-button-outlined-rectangular.variant($DataTable-AddNewButton) {
                position: relative;
                display: flex;
                width: auto;
                height: 40px;
                padding: 0;
                border: none;
                color: antimatter-color-scheme.$neutral;
                box-shadow: 0 1px antimatter-color-scheme.$neutral inset, 0 -1px antimatter-color-scheme.$neutral inset, 0 1px antimatter-color-scheme.$neutral, 0 -1px antimatter-color-scheme.$neutral;

                .Button-Icon {
                    font-size: 20px;
                }

                @media (hover: hover) {

                    &:not(#{$DataTable-AddNewButton}--Disabled):hover {
                        box-shadow: 0 1px antimatter-color-scheme.$primary inset, 0 -1px antimatter-color-scheme.$primary inset, 0 1px antimatter-color-scheme.$primary, 0 -1px antimatter-color-scheme.$primary;
                        z-index: antimatter-layer.$higher;

                        &:active {
                            box-shadow: 0 1px antimatter-color-scheme.$primary inset, 0 -1px antimatter-color-scheme.$primary inset, 0 1px antimatter-color-scheme.$primary, 0 -1px antimatter-color-scheme.$primary;
                        }
                    }
                }

                &--Disabled {
                    opacity: 1;
                    filter: saturate(100%);
                    color: antimatter-color-scheme.$gray--a65;
                }
            }
        }
    }

    #{$DataTable} {
        @content;
    }
}
