@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

@mixin variant($ColorScheme) {
    @at-root {
        #{$ColorScheme} {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            font-weight: antimatter-typography.$font-weight--bold;
            color: antimatter-color-scheme.$neutral;
            margin-top: 30px;

            &__Row {
                display: flex;
                height: 70px;

                &:first-of-type {
                    height: 40px;
                }

                &:nth-child(n + 3) {
                    margin-top: 30px;
                }
            }

            &__HeaderName {
                width: 25%;
                min-width: 120px;
            }

            &__HeaderSwatches,
            &__ColorSwatches {
                display: flex;
                flex: 1 1 0;
                min-width: 0;
            }

            &__ColorDescription {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 25%;
                min-width: 120px;
                row-gap: 6px;
                margin-bottom: 20px;
            }

            &__ColorTitle {
                color: antimatter-color-scheme.$white;
            }

            &__ColorSubTitle {
                font-weight: antimatter-typography.$font-weight--regular;
            }

            .ColorScheme-ColorSwatch {
                display: flex;
                flex-direction: column;
                flex: 1 1 0;
                min-width: 0;

                &__Swatch {
                    display: flex;
                    background-color: antimatter-color-scheme.$transparent;
                    flex: 1 1 0;
                }

                &__HexCode {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: flex-end;
                    height: 20px;
                    line-height: 18px;
                    font-size: 12px;
                    font-weight: antimatter-typography.$font-weight--regular;
                    overflow: hidden;

                    &::before {
                        content: "";
                        display: inline-block;
                        height: 100%;
                    }
                }
            }
        }
    }

    #{$ColorScheme} {
        @content;
    }
}
