$font-size--10px: 10px;
$font-size--11px: 11px;
$font-size--12px: 12px;
$font-size--13px: 13px;
$font-size--14px: 14px;
$font-size--15px: 15px;
$font-size--16px: 16px;
$font-size--17px: 17px;
$font-size--18px: 18px;

$font-size--20px: 20px;
$font-size--21px: 21px;
$font-size--22px: 22px;
$font-size--23px: 23px;
$font-size--24px: 24px;
$font-size--25px: 25px;
$font-size--26px: 26px;
$font-size--27px: 27px;
$font-size--28px: 28px;

$font-size--30px: 30px;
$font-size--32px: 32px;
$font-size--34px: 34px;
$font-size--35px: 35px;
$font-size--36px: 36px;
$font-size--38px: 38px;

$font-size--40px: 40px;
$font-size--44px: 44px;
$font-size--45px: 45px;
$font-size--48px: 48px;

$font-size--50px: 50px;

$font-size--60px: 60px;
$font-size--66px: 66px;

$font-size--150px: 150px;
