@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-icon/variant/default" as antimatter-icon-default;
@use "~@miniskylab/antimatter-label/variant/default" as antimatter-label-default;
@use "~@miniskylab/antimatter-input-field/variant/default" as antimatter-input-field-default;
@use "~@miniskylab/antimatter-button/variant/solid-rectangular" as antimatter-button-solid-rectangular;

@mixin variant($LoginForm) {
    @at-root {
        #{$LoginForm} {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-width: 300px;
            max-width: 450px;
            padding: 30px;
            box-sizing: border-box;
            border-radius: 10px;
            color: antimatter-color-scheme.$neutral;
            background-color: antimatter-color-scheme.$background;
            box-shadow: 0 10px 20px antimatter-color-scheme.$black;

            $LoginForm-Logo: ".LoginForm-Logo";
            @include antimatter-icon-default.variant($LoginForm-Logo) {
                width: 80px;
                height: 80px;
                font-size: 80px;
            }

            $LoginForm-Title: ".LoginForm-Title";
            @include antimatter-label-default.variant($LoginForm-Title) {
                height: 30px;
                margin-top: 25px;
                color: antimatter-color-scheme.$white;
                font-size: 25px;
                font-weight: antimatter-typography.$font-weight--bold;
            }

            $LoginForm-Description: ".LoginForm-Description";
            @include antimatter-label-default.variant($LoginForm-Description) {
                height: 20px;
                margin: 5px 0;
                font-size: 16px;
                color: antimatter-color-scheme.$gray;
            }

            $LoginForm-InputField: ".LoginForm-InputField";
            @include antimatter-input-field-default.variant($LoginForm-InputField) {
                margin-top: 15px;
            }

            $LoginForm-LoginButton: ".LoginForm-LoginButton";
            @include antimatter-button-solid-rectangular.variant($LoginForm-LoginButton) {
                width: 100%;
                height: 40px;
                margin-top: 30px;

                $Button-Label: ".Button-Label";
                @include antimatter-label-default.variant($Button-Label) {
                    font-size: 16px;
                    font-weight: antimatter-typography.$font-weight--bold;
                }
            }
        }
    }

    #{$LoginForm} {
        @content;
    }
}
