@use "~@miniskylab/antimatter-layer";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-label/variant/default" as antimatter-label-default;

@mixin variant($DropdownMenu) {
    @at-root {
        #{$DropdownMenu} {
            position: relative;
            display: inline-flex;
            align-items: center;
            width: 220px;
            min-height: 34px;
            padding: 8px 12px;
            border: none;
            outline: none;
            box-sizing: border-box;
            vertical-align: top;
            background-color: antimatter-color-scheme.$mine-shaft;
            cursor: pointer;

            &__BadgeContainer {
                display: flex;
                flex-wrap: wrap;
                row-gap: 5px;
                margin-right: 15px;
            }

            $DropdownMenu-Badge: ".DropdownMenu-Badge";
            @include antimatter-label-default.variant($DropdownMenu-Badge) {
                display: inline-flex;
                line-height: 18px;
                padding: 0 8px;
                margin-right: 5px;
                box-sizing: border-box;
                color: antimatter-color-scheme.$background;
                background-color: antimatter-color-scheme.$neutral;
                font-size: 12px;
            }

            &__Placeholder {
                display: flex;
                flex-wrap: wrap;
                row-gap: 5px;
                margin-right: 15px;
                line-height: 18px;
                font-size: 14px;
                color: antimatter-color-scheme.$gray--a65;
            }

            &__Menu {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                width: 100%;
                padding: 10px 0;
                margin: 2px 0;
                list-style: none;
                background-color: antimatter-color-scheme.$mine-shaft;
                z-index: antimatter-layer.$context-menu;
                cursor: default;

                &--DropUp {
                    top: auto;
                    bottom: 100%;
                }

                &--Hidden {
                    display: none;
                }
            }

            &__MenuItem {
                position: relative;
                display: block;
                min-height: 22px;
                line-height: 22px;
                padding: 4px 12px;
                font-size: 14px;
                color: antimatter-color-scheme.$neutral;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;

                @media (hover: hover) {

                    &:not(&--Disabled):not(&--Selected):hover {
                        color: antimatter-color-scheme.$white;
                        background-color: antimatter-color-scheme.$primary--a10;
                        box-shadow: 1px 1px antimatter-color-scheme.$primary inset, -1px -1px antimatter-color-scheme.$primary inset;

                        &:active {
                            color: antimatter-color-scheme.$ambient;
                            background-color: antimatter-color-scheme.$primary;
                            box-shadow: 1px 1px antimatter-color-scheme.$primary inset, -1px -1px antimatter-color-scheme.$primary inset;
                        }
                    }
                }

                &--Selected {
                    color: antimatter-color-scheme.$ambient;
                    background-color: antimatter-color-scheme.$primary;
                    box-shadow: 1px 1px antimatter-color-scheme.$primary inset, -1px -1px antimatter-color-scheme.$primary inset;
                }

                &--Disabled {
                    color: antimatter-color-scheme.$gray--a65;
                    cursor: not-allowed;
                    font-style: italic;
                }
            }

            $DropdownMenu-SelectionIcon: ".DropdownMenu-SelectionIcon";
            @include antimatter-label-default.variant($DropdownMenu-SelectionIcon) {
                position: absolute;
                height: 100%;
                font-size: 16px;
                top: 0;
                right: 7px;
            }

            &__Caret {
                position: absolute;
                right: 10px;
                top: 15px;
                width: 0;
                height: 0;
                border-top: 5px solid antimatter-color-scheme.$neutral;
                border-left: 5px solid antimatter-color-scheme.$transparent;
                border-right: 5px solid antimatter-color-scheme.$transparent;
            }

            &__Divider {
                height: 1px;
                background-color: antimatter-color-scheme.$gray--a65;
            }

            &--Closed {
                @media (hover: hover) {

                    &:hover {
                        color: antimatter-color-scheme.$white;
                        background-color: antimatter-color-scheme.$primary--a10;
                        box-shadow: 1px 1px antimatter-color-scheme.$primary inset, -1px -1px antimatter-color-scheme.$primary inset;

                        #{$DropdownMenu}__Caret {
                            border-top-color: antimatter-color-scheme.$white;
                        }

                        #{$DropdownMenu}__Placeholder {
                            color: antimatter-color-scheme.$white;
                        }
                    }
                }
            }
        }
    }

    #{$DropdownMenu} {
        @content;
    }
}
