@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

%label, .antimatter-label-default {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: antimatter-typography.$font-size--14px;
    color: antimatter-color-scheme.$white;
}
