@use "~@miniskylab/antimatter-color-scheme";

@mixin variant($Label) {
    @at-root {
        #{$Label} {
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }

    #{$Label} {
        @content;
    }
}
