@use "sass:string";
@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

@mixin variant($class-name) {
    $Selector: ".#{$class-name}";
    $Label: "%#{$class-name}";
    @at-root {
        #{$Label}, #{$Selector} {
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }

    %-#{$class-name}, #{$Selector} {
        @content;
    }
}
