@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-icon/variant/default" as antimatter-icon-default;
@use "~@miniskylab/antimatter-label/variant/default" as antimatter-label-default;

@mixin variant($InputField) {
    @at-root {
        #{$InputField} {
            display: flex;
            width: 100%;
            height: 40px;
            background-color: antimatter-color-scheme.$mine-shaft;

            $InputField-Addon: ".InputField-Addon";
            @include antimatter-icon-default.variant($InputField-Addon) {
                display: inline-flex;
                width: 40px;
                height: 100%;
                font-size: antimatter-typography.$font-size--20px;
                color: antimatter-color-scheme.$mine-shaft;
                background-color: antimatter-color-scheme.$gray;
            }

            &__Container {
                flex-grow: 1;
                position: relative;
            }

            $InputField-Placeholder: ".InputField-Placeholder";
            @include antimatter-label-default.variant($InputField-Placeholder) {
                position: absolute;
                left: 12px;
                justify-content: flex-start;
                width: 100%;
                height: 100%;
                color: antimatter-color-scheme.$gray;
                transition: transform ease-out 100ms;
                transform-origin: left center;
                pointer-events: none;

                &--Shrunk {
                    @extend #{$InputField-Placeholder};
                    transform: scale(0.72) translateY(-12px);
                }
            }

            &__TextBox {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                padding: 6px 12px;
                box-sizing: border-box;
                font-size: antimatter-typography.$font-size--14px;
                color: antimatter-color-scheme.$neutral;
                background-color: antimatter-color-scheme.$transparent;
                transition: padding ease-out 100ms;

                &--Shrunk {
                    @extend #{$InputField}__TextBox;
                    padding-top: 20px;
                    padding-bottom: 5px;
                }
            }
        }
    }

    #{$InputField} {
        @content;
    }
}
