@use "~@miniskylab/antimatter-layer";
@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-responsive/browser";
@use "~@miniskylab/antimatter-responsive/screen-size";
@use "~@miniskylab/antimatter-icon/variant/default" as antimatter-icon-default;
@use "~@miniskylab/antimatter-label/variant/default" as antimatter-label-default;
@use "~@miniskylab/antimatter-input-field/variant/default" as antimatter-input-field-default;
@use "~@miniskylab/antimatter-date-picker/variant/default" as antimatter-date-picker-default;
@use "~@miniskylab/antimatter-dropdown-menu/variant/default" as antimatter-dropdown-menu-default;
@use "~@miniskylab/antimatter-calendar/variant/sesquialteral" as antimatter-calendar-sesquialteral;
@use "~@miniskylab/antimatter-button/variant/outlined-circular" as antimatter-button-outlined-circular;
@use "~@miniskylab/antimatter-numeric-input-field/variant/default" as antimatter-numeric-input-field-default;
@use "~@miniskylab/antimatter-button/variant/outlined-rectangular" as antimatter-button-outlined-rectangular;

@mixin variant($TransactionTable) {
    @at-root {
        $-scrollbar-width: 3px;
        $-scrollbar-margin-left: 6px;
        $-scrollbar-box-width: $-scrollbar-width + $-scrollbar-margin-left;
        $-transaction-scroll-width: 450px;

        #{$TransactionTable} {
            display: flex;
            flex-wrap: wrap;
            min-width: 300px;
            max-width: 1000px;
            margin: auto;

            @include screen-size.L {
                flex-wrap: nowrap;
            }

            &__CalendarContainer {
                display: none;

                @include screen-size.L {
                    display: inline-block;
                    margin-right: 20px;
                }
            }

            $TransactionTable-Calendar: ".TransactionTable-Calendar";
            @include antimatter-calendar-sesquialteral.variant($TransactionTable-Calendar);

            &__DatePickerContainer {
                display: block;
                margin: auto auto 5px auto;

                @include screen-size.L {
                    display: none;
                }
            }

            $TransactionTable-DatePicker: ".TransactionTable-DatePicker";
            @include antimatter-date-picker-default.variant($TransactionTable-DatePicker) {
                position: relative;
                display: inline-flex;
                width: 276px;
                height: 34px;
                user-select: none;

                &--Active {
                    filter: drop-shadow(0 10px 20px antimatter-color-scheme.$black);
                    z-index: antimatter-layer.$always-on-top;
                }

                &__InputField {
                    padding: 6px 12px 6px 12px;
                    background-color: antimatter-color-scheme.$background;
                    font-size: 16px;
                    font-weight: antimatter-typography.$font-weight--bold;
                    text-align: center;
                    cursor: pointer;
                }

                $Button-Addon: ".Button-Addon";
                @include antimatter-button-outlined-circular.variant($Button-Addon) {
                    width: 100%;
                    background-color: antimatter-color-scheme.$transparent;
                    cursor: pointer;
                    opacity: 0;

                    .Button-Icon {
                        display: none;
                    }
                }

                &__Caret {
                    display: none;
                }

                &__CalendarContainer {
                    top: 34px;
                    border-top: 2px solid antimatter-color-scheme.$primary;
                    box-shadow: 0 10px 20px antimatter-color-scheme.$black;
                }
            }

            &__TransactionDetails {
                position: relative;
                display: inline-block;
                width: 100%;
                min-width: 300px;
                height: calc(100vh - 95px);
                margin-top: 12px;
                mask-image: linear-gradient(to top, antimatter-color-scheme.$transparent, antimatter-color-scheme.$black), linear-gradient(to left, antimatter-color-scheme.$transparent $-scrollbar-width, antimatter-color-scheme.$black $-scrollbar-width);
                mask-size: 100% 100000%;
                mask-position: left bottom;
                transition: mask-position 0.3s;

                @include screen-size.L {
                    height: auto;
                }

                @media (hover: hover) {

                    &:hover {
                        mask-position: left top;
                    }
                }
            }

            &__ControlPanel {
                display: flex;
                justify-content: space-around;
                padding-top: 1px;
                margin-right: $-scrollbar-box-width;
                background-color: antimatter-color-scheme.$background;
                user-select: none;
            }

            $TransactionTable-ControlButton: ".TransactionTable-ControlButton";
            @include antimatter-button-outlined-rectangular.variant($TransactionTable-ControlButton) {
                display: flex;
                flex-direction: column;
                min-width: 70px;
                height: 54px;
                padding: 5px 0 4px;
                border: none;
                color: antimatter-color-scheme.$neutral;

                $Button-Icon: ".Button-Icon";
                @include antimatter-icon-default.variant($Button-Icon) {
                    flex-grow: 1;
                    height: auto;
                    font-size: 28px;
                }

                $Button-Label: ".Button-Label";
                @include antimatter-label-default.variant($Button-Label) {
                    padding: 0;
                    line-height: 12px;
                    font-size: 12px;
                    font-weight: antimatter-typography.$font-weight--bold;
                    margin-top: 3px;
                }

                @media (hover: hover) {

                    &:not(#{$TransactionTable-ControlButton}--Disabled):hover {
                        background-color: antimatter-color-scheme.$transparent;

                        &:active {
                            color: antimatter-color-scheme.$gray;
                        }
                    }
                }

                &--Draft {
                    color: antimatter-color-scheme.$primary--a65;
                    cursor: not-allowed;

                    @media (hover: hover) {

                        &:not(#{$TransactionTable-ControlButton}--Disabled):hover {
                            color: antimatter-color-scheme.$primary--a65;

                            &:active {
                                color: antimatter-color-scheme.$primary--a65;
                            }
                        }
                    }
                }

                &--Edit {
                    color: antimatter-color-scheme.$primary;
                }

                &--Delete {
                    color: antimatter-color-scheme.$negative;
                }
            }

            &__TransactionContainer {
                display: flex;
                height: calc(100% - 110px);
                overflow-y: scroll;

                @include screen-size.L {
                    height: 458px;
                }

                &::-webkit-scrollbar {
                    width: $-scrollbar-width;
                }

                &::-webkit-scrollbar-track {
                    background-color: antimatter-color-scheme.$white--a10;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: antimatter-color-scheme.$white--a50;
                }

                @include browser.FireFoxOnly {
                    margin-right: $-scrollbar-width;

                    // noinspection CssUnknownProperty
                    scrollbar-width: none;
                }
            }

            &__TransactionScroll {
                width: 100%;
                height: fit-content;
                padding: 1px 0;
                margin-right: $-scrollbar-margin-left;

                @include browser.SafariOnly {
                    margin-right: $-scrollbar-box-width;
                }
            }

            &__Hr {
                position: absolute;
                width: calc(100% - #{$-scrollbar-box-width});
                height: 2px;
                background-color: antimatter-color-scheme.$neutral;
                z-index: antimatter-layer.$lower;

                &--Top {
                    top: 55px;
                }

                &--Bottom {
                    bottom: 55px;
                }
            }

            $TransactionTable-AddNewButton: ".TransactionTable-AddNewButton";
            @include antimatter-button-outlined-rectangular.variant($TransactionTable-AddNewButton) {
                position: relative;
                display: flex;
                min-width: auto;
                width: auto;
                height: 65px;
                padding: 0;
                border: none;
                color: antimatter-color-scheme.$neutral;
                box-shadow: 0 1px antimatter-color-scheme.$neutral inset, 0 -1px antimatter-color-scheme.$neutral inset, 0 1px antimatter-color-scheme.$neutral, 0 -1px antimatter-color-scheme.$neutral;

                .Button-Icon {
                    font-size: 35px;
                }

                @media (hover: hover) {

                    &:not(#{$TransactionTable-AddNewButton}--Disabled):hover {
                        box-shadow: 0 1px antimatter-color-scheme.$primary inset, 0 -1px antimatter-color-scheme.$primary inset, 0 1px antimatter-color-scheme.$primary, 0 -1px antimatter-color-scheme.$primary;

                        &:active {
                            box-shadow: 0 1px antimatter-color-scheme.$primary inset, 0 -1px antimatter-color-scheme.$primary inset, 0 1px antimatter-color-scheme.$primary, 0 -1px antimatter-color-scheme.$primary;
                        }
                    }
                }

                &--Disabled {
                    opacity: 1;
                    filter: saturate(100%);
                    color: antimatter-color-scheme.$gray--a65;
                }
            }

            .TransactionTable-TransactionRecord {
                position: relative;
                display: flex;
                align-items: center;
                height: 45px;
                padding: 10px 0;
                color: antimatter-color-scheme.$neutral;
                box-shadow: 0 1px antimatter-color-scheme.$neutral inset, 0 -1px antimatter-color-scheme.$neutral inset, 0 1px antimatter-color-scheme.$neutral, 0 -1px antimatter-color-scheme.$neutral;

                $TransactionTable-TransactionRecord-Icon: ".TransactionTable-TransactionRecord-Icon";
                @include antimatter-icon-default.variant($TransactionTable-TransactionRecord-Icon) {
                    width: 30px;
                    height: 30px;
                    box-sizing: border-box;
                    font-size: 28px;
                }

                &__NameAndLabelContainer {
                    display: flex;
                    flex-wrap: wrap;
                    flex-grow: 1;
                    width: 144px;
                    padding-left: 5px;
                    box-sizing: border-box;
                }

                &__LabelContainer {
                    display: inline-flex;
                    width: 95%;
                    height: 18px;
                    margin: 5px 0 2px;
                }

                $TransactionTable-TransactionRecord-Name: ".TransactionTable-TransactionRecord-Name";
                @include antimatter-label-default.variant($TransactionTable-TransactionRecord-Name) {
                    align-items: stretch;
                    justify-content: flex-start;
                    width: 95%;
                    height: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 18px;
                    font-weight: antimatter-typography.$font-weight--bold;
                }

                $TransactionTable-TransactionRecord-Label: ".TransactionTable-TransactionRecord-Label";
                @include antimatter-label-default.variant($TransactionTable-TransactionRecord-Label) {
                    display: flex;
                    line-height: 18px;
                    padding: 0 8px;
                    margin-right: 5px;
                    box-sizing: border-box;
                    border-radius: 3px;
                    color: antimatter-color-scheme.$background;
                    background-color: antimatter-color-scheme.$neutral;
                    font-size: 12px;
                }

                $TransactionTable-TransactionRecord-Amount: ".TransactionTable-TransactionRecord-Amount";
                @include antimatter-label-default.variant($TransactionTable-TransactionRecord-Amount) {
                    display: flex;
                    width: 115px;
                    height: calc(100% - 8px);
                    padding-top: 1px;
                    box-sizing: border-box;
                    font-size: 17px;
                    font-weight: antimatter-typography.$font-weight--bold;
                    color: antimatter-color-scheme.$background;

                    &--Expense {
                        background-color: antimatter-color-scheme.$neutral;
                    }

                    &--Income {
                        background-color: antimatter-color-scheme.$positive;
                    }
                }

                $TransactionTable-TransactionRecord-NameInputField: ".TransactionTable-TransactionRecord-NameInputField";
                @include antimatter-input-field-default.variant($TransactionTable-TransactionRecord-NameInputField) {
                    display: inline-flex;
                    width: 95%;
                    height: 20px;
                    background-color: antimatter-color-scheme.$transparent;

                    &__TextBox {
                        padding: 0 0 3px 0;
                        font-size: 18px;
                        font-weight: antimatter-typography.$font-weight--bold;

                        @include browser.SafariOnly {
                            height: unset;
                            padding: 0;
                            margin-top: -2px;
                        }
                    }

                    $InputField-Placeholder: ".InputField-Placeholder";
                    @include antimatter-label-default.variant($InputField-Placeholder) {
                        left: 0;
                        display: flex;
                        align-items: stretch;
                        padding-top: 1px;
                        box-sizing: border-box;
                        font-size: 16px;
                        font-weight: antimatter-typography.$font-weight--bold;
                        font-style: italic;

                        &--Shrunk {
                            display: none;
                        }
                    }
                }

                $TransactionTable-TransactionRecord-LabelSelector: ".TransactionTable-TransactionRecord-LabelSelector";
                @include antimatter-dropdown-menu-default.variant($TransactionTable-TransactionRecord-LabelSelector) {
                    width: 95%;
                    height: 18px;
                    min-height: auto;
                    padding: 0;
                    margin: 5px 0 2px;
                    pointer-events: none;
                    background-color: antimatter-color-scheme.$transparent;

                    &__Menu {
                        position: static;
                        display: flex;
                        padding: 0;
                        margin: 0;
                        overflow-x: scroll;
                        overflow-y: hidden;
                        pointer-events: auto;
                        overscroll-behavior: none;
                        background-color: antimatter-color-scheme.$transparent;

                        @include browser.FireFoxOnly {
                            // noinspection CssUnknownProperty
                            scrollbar-width: none;
                        }

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        &--Hidden {
                            display: flex;
                        }
                    }

                    &__MenuItem {
                        display: inline-flex;
                        height: 18px;
                        padding: 0 8px;
                        margin: 0 5px 0 0;
                        border-radius: 3px;
                        box-sizing: border-box;
                        background-color: antimatter-color-scheme.$transparent;
                        font-size: 12px;
                        box-shadow: 1px 1px antimatter-color-scheme.$neutral inset, -1px -1px antimatter-color-scheme.$neutral inset;

                        &:last-child {
                            margin-right: 0;
                        }

                        @media (hover: hover) {

                            &:not(#{$TransactionTable-TransactionRecord-LabelSelector}__MenuItem--Disabled):not(#{$TransactionTable-TransactionRecord-LabelSelector}__MenuItem--Selected):hover {
                                background-color: antimatter-color-scheme.$neutral--a10;
                                box-shadow: 1px 1px antimatter-color-scheme.$neutral inset, -1px -1px antimatter-color-scheme.$neutral inset;

                                &:active {
                                    color: antimatter-color-scheme.$ambient;
                                    background-color: antimatter-color-scheme.$neutral;
                                }
                            }
                        }

                        &--Selected {
                            color: antimatter-color-scheme.$ambient;
                            background-color: antimatter-color-scheme.$neutral;
                        }

                        &--Disabled {
                            display: none;
                        }
                    }

                    &__BadgeContainer, &__Placeholder, &__Caret, &__Divider, .DropdownMenu-Badge, .DropdownMenu-SelectionIcon {
                        display: none;
                    }

                    &--Closed {
                        @media (hover: hover) {

                            &:hover {
                                box-shadow: none;
                            }
                        }
                    }
                }

                $TransactionTable-TransactionRecord-AmountInputField: ".TransactionTable-TransactionRecord-AmountInputField";
                @include antimatter-numeric-input-field-default.variant($TransactionTable-TransactionRecord-AmountInputField) {
                    display: flex;
                    width: 115px;
                    height: calc(100% - 8px);
                    padding: 1px 0 0 0;
                    text-align: center;
                    font-size: 17px;
                    font-weight: antimatter-typography.$font-weight--bold;
                    color: antimatter-color-scheme.$background;

                    &--Expense {
                        background-color: antimatter-color-scheme.$neutral;
                    }

                    &--Income {
                        background-color: antimatter-color-scheme.$positive;
                    }
                }

                &--ReadOnlyMode {
                    cursor: pointer;

                    @media (hover: hover) {

                        &:hover {
                            box-shadow: 0 1px antimatter-color-scheme.$primary inset, 0 -1px antimatter-color-scheme.$primary inset, 0 1px antimatter-color-scheme.$primary, 0 -1px antimatter-color-scheme.$primary;
                            background-color: antimatter-color-scheme.$primary--a10;
                            z-index: antimatter-layer.$higher;
                        }
                    }
                }

                &--DraftMode {
                    box-shadow: 0 1px antimatter-color-scheme.$primary inset, 0 -1px antimatter-color-scheme.$primary inset, 0 1px antimatter-color-scheme.$primary, 0 -1px antimatter-color-scheme.$primary;
                    background: repeating-linear-gradient(45deg, antimatter-color-scheme.$primary--a10, antimatter-color-scheme.$primary--a10 10px, antimatter-color-scheme.$transparent 10px, antimatter-color-scheme.$transparent 20px);
                    z-index: antimatter-layer.$higher;
                }

                &--EditMode {
                    box-shadow: 0 1px antimatter-color-scheme.$primary inset, 0 -1px antimatter-color-scheme.$primary inset, 0 1px antimatter-color-scheme.$primary, 0 -1px antimatter-color-scheme.$primary;
                    background-color: antimatter-color-scheme.$primary--a10;
                    z-index: antimatter-layer.$higher;
                }

                &--DeleteMode {
                    box-shadow: 0 1px antimatter-color-scheme.$negative inset, 0 -1px antimatter-color-scheme.$negative inset, 0 1px antimatter-color-scheme.$negative, 0 -1px antimatter-color-scheme.$negative;
                    background-color: antimatter-color-scheme.$negative--a10;
                    z-index: antimatter-layer.$higher;
                }
            }

            &__Summary {
                display: flex;
                flex-wrap: wrap;
                padding-top: 5px;
                margin-right: $-scrollbar-box-width;
                color: antimatter-color-scheme.$neutral;
                font-size: 16px;
                font-weight: antimatter-typography.$font-weight--bold;
            }

            &__SummaryRecord {
                display: flex;
                width: 100%;
            }

            $TransactionTable-SummaryText: ".TransactionTable-SummaryText";
            @include antimatter-label-default.variant($TransactionTable-SummaryText) {
                justify-content: flex-end;
                flex-grow: 1;
                line-height: 25px;
            }

            $TransactionTable-SummaryAmount: ".TransactionTable-SummaryAmount";
            @include antimatter-label-default.variant($TransactionTable-SummaryAmount) {
                justify-content: flex-end;
                width: 128px;
                line-height: 25px;
                padding-right: 1px;
                box-sizing: border-box;

                &--Expense {
                    color: antimatter-color-scheme.$warning;
                }

                &--Income {
                    color: antimatter-color-scheme.$positive;
                }
            }
        }
    }

    #{$TransactionTable} {
        @content;
    }
}
