@use "~@miniskylab/antimatter/typography" as typography;
@use "~@miniskylab/antimatter/infrastructure/sass" as sass;
@use "~@miniskylab/antimatter/color-scheme" as color-scheme;

.card {
    $card: &;

    @mixin grid-layout($item-per-row) {
        $gap-count: $item-per-row - 1;

        width: calc((100% / #{$item-per-row}) - ((#{$gap-count} * 20px) / #{$item-per-row}));

        &:nth-child(n) {
            margin: 10px;
        }

        &:nth-child(#{$item-per-row}n + 1) {
            margin-left: 0;
        }

        &:nth-child(#{$item-per-row}n + #{$item-per-row}) {
            margin-right: 0;
        }
    }

    display: inline-flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 20px 20px;
    background-color: color-scheme.$background;

    @include grid-layout(1);

    @include sass.screen-size--M {
        @include grid-layout(2);
    }

    @include sass.screen-size--L {
        @include grid-layout(3);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 -2px 40px color-scheme.$black;
        z-index: sass.$layer--ambient;
    }

    img#{$card}__icon {
        width: 100%;
        height: 150px;
        object-fit: contain;
    }

    &__icon {
        height: 150px;
        font-size: typography.$font-size--150px;
        text-align: center;
        color: color-scheme.$white;
        -webkit-backface-visibility: hidden;
    }

    &__name {
        width: 100%;
        margin-top: 30px;
        font-size: typography.$font-size--32px;
        font-weight: typography.$font-weight--bold;
        text-align: center;
        color: color-scheme.$white;
    }

    &__description {
        font-size: typography.$font-size--16px;
        margin-top: 20px;
        text-align: justify;
        line-height: 28px;
        color: color-scheme.$neutral;
    }
}
