@use "~antimatter/infrastructures/sass" as sass;
@use "card--33pct-wide";

.card {
    display: none;

    & * {
        display: none;
    }

    @include sass.screen-size--XL {

        &:nth-child(n+5) {
            display: flex;
            width: 25%;
            margin: 0;
        }
    }
}
