@use "~@miniskylab/antimatter-layer";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-responsive/screen-size";
@use "~@miniskylab/antimatter-icon/variant/default" as antimatter-icon-default;

@mixin variant($Topbar) {
    @at-root {
        #{$Topbar} {
            position: fixed;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            font-size: 22px;
            color: antimatter-color-scheme.$white;
            background: antimatter-color-scheme.$ambient;
            box-shadow: 0 1px antimatter-color-scheme.$white--a10, 0 1px 3px antimatter-color-scheme.$white--a10, 0 4px 20px antimatter-color-scheme.$white--a4, 0 1px 1px antimatter-color-scheme.$white--a3;
            z-index: antimatter-layer.$always-on-top;

            &__Container {
                position: absolute;
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                gap: 40px;

                @include screen-size.S {
                    width: auto;
                }

                &--Right {
                    right: 0;
                    display: none;
                    margin-right: 15px;
                    gap: 20px;

                    @include screen-size.S {
                        display: flex;
                    }
                }
            }

            $Topbar-Icon: ".Topbar-Icon";
            @include antimatter-icon-default.variant($Topbar-Icon) {
                display: inline-flex;
                width: 30px;
            }

            $Topbar-Logo: ".Topbar-Logo";
            @include antimatter-icon-default.variant($Topbar-Logo) {
                position: absolute;
                left: 0;
                display: none;
                margin-left: 25px;
                font-size: 36px;

                @include screen-size.S {
                    display: inline-flex;
                }
            }
        }
    }

    #{$Topbar} {
        @content;
    }
}
