@use "~@miniskylab/antimatter-layer";
@use "~@miniskylab/antimatter-color-scheme";
@use "~@miniskylab/antimatter-responsive/screen-size";
@use "~@miniskylab/antimatter-icon/variant/default" as antimatter-icon-default;

@mixin variant($Topbar) {
    @at-root {
        #{$Topbar} {
            position: fixed;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 50px;
            min-width: screen-size.$M;
            font-size: 30px;
            color: antimatter-color-scheme.$white;
            background: antimatter-color-scheme.$ambient;
            box-shadow: 0 1px antimatter-color-scheme.$white--a10, 0 1px 3px antimatter-color-scheme.$white--a10, 0 4px 20px antimatter-color-scheme.$white--a4, 0 1px 1px antimatter-color-scheme.$white--a3;
            z-index: antimatter-layer.$always-on-top;

            &__Container {
                position: absolute;
                height: 100%;

                &--Right {
                    right: 0;
                }
            }

            $Topbar-Icon: ".Topbar-Icon";
            @include antimatter-icon-default.variant($Topbar-Icon) {
                display: inline-flex;
                width: 30px;
                height: 30px;
                padding: 10px 20px;
            }

            $Topbar-Logo: ".Topbar-Logo";
            @include antimatter-icon-default.variant($Topbar-Logo) {
                position: absolute;
                left: 0;
                display: inline-flex;
                width: 30px;
                height: 30px;
                padding: 10px 15px 10px 15px;
            }
        }
    }

    #{$Topbar} {
        @content;
    }
}
