@use "./month-view--default";
@use "~@miniskylab/antimatter-typography";

.month-view {

    &__grid-cell {
        width: calc(25% - 14px);
        height: 91px;
        margin: 7px;
        font-size: antimatter-typography.$font-size--21px;
        border-width: 4px;
    }
}
