@use "button--outlined-circular";
@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

.button {
    width: fit-content;
    min-width: 120px;
    font-weight: antimatter-typography.$font-weight--regular;
    padding: 6px 12px;
    border-width: 1px;
    border-radius: 0;

    &__icon {
        min-width: 16px;
        height: 16px;
        font-size: antimatter-typography.$font-size--16px;
    }

    &__text {
        display: block;
        padding: 0 10px;
        font-size: antimatter-typography.$font-size--14px;
    }
}
