@use "~@miniskylab/antimatter-typography";

.button {
    width: fit-content;
    min-width: 120px;
    font-weight: antimatter-typography.$font-weight--regular;
    padding: 6px 12px;
    border-width: 1px;
    border-radius: 0;
}
