@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

%circular-slider, .circular-slider {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    width: 400px;
    height: 400px;
    padding: 2px;
    box-sizing: border-box;
    overflow: hidden;

    &__track-outer-border {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0 0 0 2px antimatter-color-scheme.$black--a25;
        background-color: antimatter-color-scheme.$background;
    }

    &__track-inner-border {
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        padding: 5px;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 0 0 0 1px antimatter-color-scheme.$white--a10;
        background-color: antimatter-color-scheme.$background;
    }

    &__fill-canvas {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 6px;
        box-sizing: border-box;
        fill: antimatter-color-scheme.$primary;
        transform: rotate(-90deg);
    }

    &__rotor {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 8px;
        pointer-events: none;
    }

    &__knob {
        $knob: &;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        font-size: antimatter-typography.$font-size--21px;
        color: antimatter-color-scheme.$primary;
        background-color: antimatter-color-scheme.$background;
        pointer-events: all;
        cursor: pointer;
        touch-action: none;

        &--start {
            @extend #{$knob};
        }

        &--end {
            @extend #{$knob};
        }
    }

    &__pips {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        text-align: center;
        pointer-events: none;

        &__pip {
            $pip: &;

            display: inline;
            position: absolute;
            width: 2px;
            height: 8px;
            border-radius: 10px;
            background-color: antimatter-color-scheme.$gainsboro;
            transform: translate(-50%, 0) rotate(-0.0000000001deg);
            transition: background-color 0.1s linear;

            &--milestone {
                @extend #{$pip};
                height: 16px;
            }

            &--highlighted {
                @extend #{$pip};
                background-color: antimatter-color-scheme.$primary;
            }

            &--highlighted-milestone {
                @extend #{$pip}--highlighted;
                @extend #{$pip}--milestone;
            }
        }

        &__label {
            $label: &;

            position: absolute;
            display: inline;
            width: 30px;
            padding-top: 25px;
            text-align: center;
            font-size: antimatter-typography.$font-size--20px;
            font-weight: antimatter-typography.$font-weight--bold;
            line-height: 15px;
            color: antimatter-color-scheme.$gainsboro;
            transform: translate(-50%, 0);
            transition: color 0.1s linear;

            &--highlighted {
                @extend #{$label};
                color: antimatter-color-scheme.$primary;
            }
        }
    }
}
