@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

@mixin variant($CircularSlider) {
    @at-root {
        #{$CircularSlider} {
            position: relative;
            display: inline-flex;
            flex-shrink: 0;
            width: 400px;
            height: 400px;
            padding: 2px;
            box-sizing: border-box;
            overflow: hidden;

            &__TrackOuterBorder {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                box-shadow: 0 0 0 2px antimatter-color-scheme.$black--a25;
                background-color: antimatter-color-scheme.$background;
            }

            &__TrackInnerBorder {
                width: calc(100% - 100px);
                height: calc(100% - 100px);
                padding: 5px;
                border-radius: 50%;
                box-sizing: border-box;
                box-shadow: 0 0 0 1px antimatter-color-scheme.$white--a10;
                background-color: antimatter-color-scheme.$background;
            }

            &__FillCanvas {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                margin: auto;
                padding: 6px;
                box-sizing: border-box;
                fill: antimatter-color-scheme.$primary;
                transform: rotate(-90deg);
            }

            &__Rotor {
                position: absolute;
                display: flex;
                justify-content: center;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 8px;
                pointer-events: none;
            }

            &__Knob {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                font-size: antimatter-typography.$font-size--21px;
                color: antimatter-color-scheme.$primary;
                background-color: antimatter-color-scheme.$background;
                pointer-events: all;
                cursor: pointer;
                touch-action: none;

                &--Start {
                    @extend #{$CircularSlider}__Knob;
                }

                &--End {
                    @extend #{$CircularSlider}__Knob;
                }
            }

            .CircularSlider-Pips {
                position: relative;
                width: 100%;
                height: 100%;
                margin: 0;
                text-align: center;
                pointer-events: none;

                &__Pip {
                    display: inline;
                    position: absolute;
                    width: 2px;
                    height: 8px;
                    border-radius: 10px;
                    background-color: antimatter-color-scheme.$gainsboro;
                    transform: translate(-50%, 0) rotate(-0.0000000001deg);
                    transition: background-color 0.1s linear;

                    &--Milestone {
                        @extend .CircularSlider-Pips__Pip;
                        height: 16px;
                    }

                    &--Highlighted {
                        @extend .CircularSlider-Pips__Pip;
                        background-color: antimatter-color-scheme.$primary;
                    }

                    &--HighlightedMilestone {
                        @extend .CircularSlider-Pips__Pip--Highlighted;
                        @extend .CircularSlider-Pips__Pip--Milestone;
                    }
                }

                &__Label {
                    position: absolute;
                    display: inline;
                    width: 30px;
                    padding-top: 25px;
                    text-align: center;
                    font-size: antimatter-typography.$font-size--20px;
                    font-weight: antimatter-typography.$font-weight--bold;
                    line-height: 15px;
                    color: antimatter-color-scheme.$gainsboro;
                    transform: translate(-50%, 0);
                    transition: color 0.1s linear;

                    &--Highlighted {
                        @extend .CircularSlider-Pips__Label;
                        color: antimatter-color-scheme.$primary;
                    }
                }
            }
        }
    }

    #{$CircularSlider} {
        @content;
    }
}
