@use "sass:string";
@use "~@miniskylab/antimatter-layer";
@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

@mixin variant($RangeSlider) {
    @at-root {
        $-knob-radius: 15px;
        $-track-padding: 4px;

        #{$RangeSlider} {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 75px;

            &__Track {
                width: 100%;
                height: 16px;
                padding: $-track-padding;
                border-radius: 16px;
                margin-top: $-knob-radius;
                box-sizing: border-box;
                box-shadow: inset 0 1px 2px antimatter-color-scheme.$black--a25, 0 1px antimatter-color-scheme.$white--a8;
                background-color: antimatter-color-scheme.$ambient;

                &--Interactable {
                    cursor: pointer;
                }
            }

            &__FillLeft {
                display: inline-block;
                height: 100%;
                vertical-align: top;
                background-color: antimatter-color-scheme.$primary;
                background-image: linear-gradient(to bottom, antimatter-color-scheme.$white--a30, antimatter-color-scheme.$white--a5);
            }

            &__FillRight {
                height: 100%;
                vertical-align: top;
                float: right;
                background-color: antimatter-color-scheme.$transparent;
            }

            &__StopperLeft {
                @extend #{$RangeSlider}__FillLeft;
                width: $-knob-radius - $-track-padding;
                border-radius: 16px 0 0 16px;
            }

            &__StopperRight {
                @extend #{$RangeSlider}__FillRight;
                width: $-knob-radius - $-track-padding;
                border-radius: 0 16px 16px 0;
            }

            &__Knob {
                $-pulse: #{string.slice($RangeSlider, 2)}-Knob-Pulse;
                @keyframes #{$-pulse} {

                    from {
                        box-shadow: 0 0 45px;
                    }

                    to {
                        box-shadow: 0 0 45px 1px antimatter-color-scheme.$gainsboro;
                    }
                }

                position: absolute;
                top: 0;
                bottom: 0;
                width: $-knob-radius * 2;
                height: $-knob-radius * 2;
                border-radius: 50%;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: -$-knob-radius;
                background-color: antimatter-color-scheme.$white;
                z-index: antimatter-layer.$higher;
                animation: $-pulse 5s infinite alternate;
                touch-action: none;

                &--Interactable {
                    box-shadow: 0 0 8px antimatter-color-scheme.$black--a35;
                    background-image: linear-gradient(to bottom, antimatter-color-scheme.$white--a30, antimatter-color-scheme.$white--a5);
                    cursor: pointer;
                    animation: none;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        width: $-knob-radius;
                        height: $-knob-radius;
                        border-radius: 50%;
                        margin: auto;
                        background-image: linear-gradient(to bottom, antimatter-color-scheme.$black--a15, antimatter-color-scheme.$white--a5);
                    }
                }
            }

            &__FreeZone {
                position: relative;
                display: inline-block;
                width: calc(100% - #{$-knob-radius - $-track-padding} * 2);
                height: 100%;
                background-color: inherit;
            }

            .RangeSlider-Pips {
                position: relative;
                width: 100%;
                height: 35px;
                margin: 5px 15px 0 15px;
                pointer-events: none;

                &__Pip {
                    position: absolute;
                    display: inline;
                    width: 2px;
                    height: 8px;
                    border-radius: 10px;
                    background-color: antimatter-color-scheme.$gainsboro;
                    transform: translate(-50%, 0) rotate(-0.0000000001deg);
                    transition: background-color 0.1s linear;

                    &--Milestone {
                        height: 16px;
                    }

                    &--Highlighted {
                        background-color: antimatter-color-scheme.$primary;
                    }

                    &--HighlightedMilestone {
                        @extend .RangeSlider-Pips__Pip--Highlighted;
                        @extend .RangeSlider-Pips__Pip--Milestone;
                    }
                }

                &__Label {
                    position: absolute;
                    display: inline;
                    width: 30px;
                    line-height: 15px;
                    padding-top: 20px;
                    text-align: center;
                    font-size: antimatter-typography.$font-size--10px;
                    color: antimatter-color-scheme.$gainsboro;
                    transform: translate(-50%, 0);
                    transition: color 0.1s linear;

                    &--Highlighted {
                        color: antimatter-color-scheme.$primary;
                    }
                }
            }
        }
    }

    #{$RangeSlider} {
        @content;
    }
}
