@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

.data-table {

    &__page {
        display: inline-block;
        vertical-align: top;
    }

    &__add-new-icon {
        box-sizing: border-box;
        width: 34px;
        height: 34px;
        padding: 8px 0;
        opacity: 0.65;
    }

    &__add-new-label {
        box-sizing: border-box;
        font-weight: antimatter-typography.$font-weight--bold;
        font-size: antimatter-typography.$font-size--14px;
        padding: 8px 0;
        opacity: 0.65;
    }
}
