@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

%highlighted-paragraph, .antimatter-highlighted-paragraph-default {
    width: 100%;
    padding: 20px;
    border: 3px solid antimatter-color-scheme.$gray;
    box-sizing: border-box;
    color: antimatter-color-scheme.$white;
    background-color: antimatter-color-scheme.$gray--a10;

    &__title-container {
        display: inline-flex;
        align-items: center;
        height: 30px;
        font-weight: antimatter-typography.$font-weight--bold;
    }

    &__title-icon {
        display: inline-flex;
        justify-content: center;
        width: 25px;
        padding-right: 12px;
        font-size: antimatter-typography.$font-size--25px;
    }

    &__title-text {
        font-size: antimatter-typography.$font-size--18px;
    }

    &__gap {
        height: 12px;
    }

    &__content {
        display: flex;
        text-align: justify;
        line-height: 24px;
        font-size: antimatter-typography.$font-size--14px;
    }
}
