@use "~@miniskylab/antimatter-typography";
@use "~@miniskylab/antimatter-color-scheme";

b,
strong {
    font-weight: antimatter-typography.$font-weight--bold;
}

i,
em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

.text {
    display: inline-block;

    &--primary {
        composes: text;

        color: antimatter-color-scheme.$primary;
    }

    &--green {
        composes: text;

        color: antimatter-color-scheme.$green;
    }

    &--gold {
        composes: text;

        color: antimatter-color-scheme.$gold;
    }

    &--tomato {
        composes: text;

        color: antimatter-color-scheme.$tomato;
    }

    &--justify {
        composes: text;

        display: inline-block;
        text-align: justify;
    }
}

.badge {
    display: inline-block;
    padding: 2px 8px;
    color: antimatter-color-scheme.$white;
    font-weight: antimatter-typography.$font-weight--bold;
    line-height: normal;

    &--accent {
        composes: badge;

        background-color: antimatter-color-scheme.$accent;
    }
}
